.container-research-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
}

.inputRecherche {
    width: 100%;
    height: 100px;
    margin: 0;
    background: linear-gradient(to right, #3E3E3E, #1E1E1E);
    position: relative;
    margin-bottom: 25px;
}

input {
    width: 100%;
    height: 100%;
    border: transparent;
    font-size: 45px;
    padding-left: 130px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: transparent;
}

.container-image-research {
    height: 50%;
    width: auto;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);

    img {
        height: 100%;
        width: 100%;
    }
}

.inputRecherche input::placeholder {
    color: white;
    opacity: 0.8;
}

.inputRecherche input:focus {
    outline: none;
    border-color: transparent;
}

.containerSpinner {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width : 1700px) {
    .inputRecherche {
        height: 80px;
        margin-bottom: 15px;
    }

    input {
        font-size: 35px;
        padding-left: 105px;
    }

    .container-image-research {
        left: 50px;
    }

}

@media (max-width : 1100px) {
    .inputRecherche {
        height: 70px;
        margin-bottom: 10px;
    }

    input {
        font-size: 30px;
        padding-left: 85px;
    }

    .container-image-research {
        left: 35px;
    }
}

@media (max-width : 700px) {
    .inputRecherche {
        height: 60px;
        margin-bottom: 5px;
    }

    input {
        font-size: 25px;
        padding-left: 72px;
    }

    .container-image-research {
        left: 30px;
    }
}