.containerStar {
    height: 100%;
    width: 100%;
    background-image: url('../../../../../public/game/stars.gif');
    background-repeat: repeat;
    background-size: auto;
    position: absolute;
    left: 0;
    right: 0;
}