@if (jobTitle === JobModel.ACTOR) {
<h2> {{ 'MEDIA_PAGE.CASTING' | translate }} </h2>
} @else if(jobTitle === JobModel.DIRECTOR) {
<h2> {{ 'MEDIA_PAGE.PRODUCTION_DIRECTION' | translate }} </h2>
}
<div class="container-staffs" [style.gap.vw]="gap">
@for (item of creditTab; track $index) {
    <div class="container-staff">
        <div class="staff-poster" [ngClass]="'container-animation-gradient-little'" [style.height.vw]="height" [style.width.vw]="width">
        </div>
        <div class="title-loading">
            <p>Loading Loading</p>
            <div class="loader" [ngClass]="'container-animation-gradient-little'"></div>
        </div>
    </div>
}
<div class="margin-left"></div>
</div>