.container-news {
    width: 100%;
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0px 25px 25px black;
    position: relative;
    border: 2px solid transparent;
}

@media (max-width : 900px) {
    .container-news {
        border-radius: 1vw;
    }
}

.container-logo {
    width: 45%;
    height: 60%;
    position: absolute;
    bottom: 8%;
    left: 2.5%;
}