<app-popup (emitActionData)="onEmitDelete()"></app-popup>

<div class="container">

    @if(displayEditProfilPicture) {
    <div class="container-edit-profil-picture" #containerProfilPicture>
        <app-edit-profil-picture></app-edit-profil-picture>
    </div>
    }

    <div class="container-title">
        <p>{{ 'USER.MANAGE_PROFIL.EDIT_PROFIL_TITLE' | translate }}</p>
        <div class="barre"></div>
    </div>

    <div class="space"></div>

    <div class="containe-edition">
        <div class="container-pp" (click)="onClickProfilPicture($event)" #containerBtProfilPicture>
            @if(profilPhoto) {
            <img [src]="profilPhoto" class="pp" (error)="errorPpUser()">
            }
            <div class="button-edit">
                <img [src]="srcButtonEdit">
            </div>
            <div class="container-tmp"></div>
        </div>

        <form [formGroup]="formGroupInfo">
            <div class="container-input">
                <label>{{ 'USER.MANAGE_PROFIL.PSEUDO' | translate }}</label>
                <div class="container-relative">
                    <input [formControlName]="formControlPseudo" placeholder="Pseudo">
                    <div class="button-edit">
                        <img [src]="srcButtonEdit">
                    </div>
                </div>
            </div>

            <div class="container-input">
                <label>{{ 'USER.MANAGE_PROFIL.DATE_BIRTH' | translate }}</label>
                <div class="container-relative">
                    <input type="date" [formControlName]="formControlDateBorn">
                    <div class="button-edit">
                        <img [src]="srcButtonEdit">
                    </div>
                </div>
            </div>

            <div class="container-input">
                <label>{{ 'USER.MANAGE_PROFIL.SYSTEM_LANGUAGE' | translate }}</label>
                <div class="container-relative">
                    <app-lang-select></app-lang-select>
                </div>
            </div>
        </form>
    </div>

    <div></div>
    
    <form [formGroup]="formGroupPassWord">
        <div class="container-input">
            <label>{{ 'USER.MANAGE_PROFIL.CURRENT_PASSWORD' | translate }}</label>
            <div class="container-relative">
                <input [formControlName]="formControlCurrentPassWord" [type]="typeCurrentMdp">
                <div class="button-edit" (click)="onClickCurrentMdp()">
                    <img [src]="srcCurrentMdp" class="img-password">
                </div>
            </div>
        </div>

        <div class="containe-edition">
            <div class="container-input">
                <label>{{ 'USER.MANAGE_PROFIL.NEW_PASSWORD' | translate }}</label>
                <div class="container-relative">
                    <input [formControlName]="formControlNewPassWord" [type]="typeNewMdp">
                    <div class="button-edit" (click)="onClickNewMdp()">
                        <img [src]="srcNewMdp" class="img-password">
                    </div>
                </div>
            </div>

            <div class="container-input">
                <label>{{ 'USER.MANAGE_PROFIL.CONFIRM_NEW_PASSWORD' | translate }}</label>
                <div class="container-relative">
                    <input [formControlName]="formControlReNewPassWord" [type]="typeReNewMdp">
                    <div class="button-edit" (click)="onClickReNewMdp()">
                        <img [src]="srcReNewMdp" class="img-password">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="space"></div>

    <div class="container-end">
        <div class="barre"></div>
        <div class="container-button">
            <div class="button" (click)="onClickSave()">
                <p> {{ 'BUTTON.SAVE' | translate }} </p>
            </div>
            <div class="button" (click)="onClickCancel()">
                <p> {{ 'BUTTON.CANCEL' | translate }} </p>
            </div>
            <div class="button" (click)="onClickDelete()">
                <p> {{ 'BUTTON.DELETE_PROFIL' | translate }} </p>
            </div>
        </div>
    </div>

</div>