.container-button-orientation {
    height: 40px;
    width: 40px;
    margin: 0;
    border-radius: 10px;
    border: solid 2px white;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: white;

        .buttonDelete {
            background-color: black;
        }
    }

    img {
        height: 80%;
        animation: 0.3s enter;
    }
}

@keyframes enter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}