<div class="container-list-episode">
    @for(episode of episodes; track episode.id; let idx = $index) {
    @defer(on viewport) {
    <div class="container-episode animationPosterAndLicense">
        <div class="container-index">
            <p class="index">{{ episode.episodeNumber}}</p>
        </div>
        <div class="container-poster" (click)="start.onClick()">

            <app-news-alert [visibility]="true" [isRecent]="episode.isRecent" [mediaType]="MediaType.EPISODE"></app-news-alert>

            <div class="container-tmp-poster">
                <app-start-button #start [typeButton]="true" [typeDisplaying]="true" [media]="series"
                    [episode]="episode" [seasons]="series.seasons"></app-start-button>
            </div>
            @if (episodePoster[idx]) {
                <img [src]="episodePoster[idx]" loading="lazy" decoding="async" (error)="onError(idx)">
            }
            @if(episodeProgress[idx].stateProgress !== ProgressState.NOT_WATCHED) {
            <div class="container-progress">
                <div class="progress" [style.width.%]="episodeProgress[idx].watchProgress"></div>
            </div>
            }
        </div>
        <div class="container-info">
            <p class="title"> {{ episode.name }} </p>
            @if(notRunning) {
            <p class="description"> {{ episode.description }} </p>
            <div class="container-other-info">
                <p class="other-info"> {{ episode.resolution }} </p>
                <p class="other-info"> {{ getTimerEpisode(episode.duration) }} </p>
                <p class="other-info"> {{ episode.date | date:'d MMMM, y'}} </p>
            </div>
            }
        </div>
    </div>
    } @placeholder {
    <div class="container-episode">
        <div></div>
        <div class="container-poster container-animation-gradient-normal"></div>
        <div></div>
    </div>
    }
    }
</div>
