<div class="container-title-bar">
    <div class="container-drag-region"></div>
    <div class="container-option">
        <div class="container-button" (click)="onClickMinimize()">
            <img [src]="srcReduce">
        </div>
        <div class="container-button" (click)="onClickMaximize()">
            @if(isMaximize) {
            <img [src]="srcShrink">
            }@else {
            <img [src]="srcEnlarge">
            }
        </div>
        <div class="container-button" [ngClass]="{'cross' : true}" (click)="onClickClose()">
            <img [src]="srcClose">
        </div>
    </div>
</div>