.menu {
    height: 60px;
    width: 100%;
    position: fixed;
    color: transparent;
    padding: 5px;
    font-weight: bold;
    z-index: 99999;
    background: linear-gradient(black, rgb(20, 20, 20));

    img {
        height: 40px;
        object-fit: cover;
        cursor: pointer;
        opacity: 0;
    }
}

.enable-transition {
    transition: 0.5s opacity;
}

.disable-transition {
    transition: 0;
    opacity: 1;
}

.menu-visible {
    opacity: 1;
}

.menu-transparent {
    opacity: 0;
}

.menu2 {
    z-index: 99999;
    padding: 5px;
    padding-left: 50px;
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: bold;

    img {
        height: 30px;
        object-fit: cover;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
}

.container-other-tab {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 230px;
}

.container-menu-plus {
    position: relative;
}

.container-tabs-plus {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: auto;
    background-color: #252525;
    transition: 0.1s visibility;
    transition-delay: 0.1s;
    visibility: hidden;
}

.not-visible-under-menu {
    visibility: hidden;
}

.visible-under-menu {
    visibility: visible;
}

.container-option {
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.3s background-color;
    cursor: pointer;
    padding-left: 20px;
    box-sizing: border-box;
    gap: 10px;

    img {
        height: 20px;
        width: 20px;
    }

    p {
        margin: 0;
        font-size: 13px;
    }
}

.container-option:hover {
    background-color: #3E3E3E;
}