.containerButtonDelete {
    height: 40px;
    width: 40px;
    margin: 0;
    border-radius: 10px;
    border: solid 2px white;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: white;

        .buttonDelete {
            background-color: black;
        }
    }

    img {
        height: 50%;
        animation: 0.3s enter;
    }
}

.buttonDelete {
    transition: all 0.3s;
    background-color: white;
    border-radius: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 17px;
    height: 3px;
}


@keyframes enter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}