.container {
    position: absolute;
    z-index: 50;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: #141414;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    align-items: center;
    padding-block: 40px;
    padding-inline: 20px;
    position: absolute;
    animation: enter 0.6s;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 20px;
}

.otp-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.otp-input {
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 19px;
    border-radius: 8px;
    outline: none;
}

input {
    color: white;
    font-size: 16px;
    padding-inline: 15px;
    width: 100%;
    height: 45px;
    border: none;
    background-color: #282828;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
    color: var(--grey-dark);
    opacity: 0.8;
}

input:focus {
    outline: none;
    border: none;
}

p {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.container-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

button {
    background-color: transparent;
    border: #333333 solid 2px;
    color: #808080;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    height: auto;
    width: max-content;
    padding-inline: 20px;
    padding-block: 8px;
    border-radius: 5px;
    transition: 0.3s background-color, 0.3s border;
}

button:focus {
    border: #333333 solid 2px;
    outline: none;
}

button:hover {
    border: #454545 solid 2px;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translate(-50%, 20px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}