<div class="json-viewer">
    <div class="json-toolbar">
        <button (click)="expandAll()" [disabled]="loading">{{ 'EDITION.ADVANCED_SETTINGS.EXPAND_ALL' | translate }}</button>
        <button (click)="collapseAll()" [disabled]="loading">{{ 'EDITION.ADVANCED_SETTINGS.CALLAPSE_ALL' | translate }}</button>
        <button (click)="expandToLevel(1)" [disabled]="loading">{{ 'EDITION.ADVANCED_SETTINGS.LEVEL_1' | translate }}</button>
        <button (click)="expandToLevel(2)" [disabled]="loading">{{ 'EDITION.ADVANCED_SETTINGS.LEVEL_2' | translate }}</button>
        <button (click)="expandToLevel(3)" [disabled]="loading">{{ 'EDITION.ADVANCED_SETTINGS.LEVEL_3' | translate }}</button>
        <span class="json-info">
            {{ visibleNodes.length }} {{ 'EDITION.ADVANCED_SETTINGS.VISIBLE_LINES' | translate }} / {{ totalNodes }} {{ 'EDITION.ADVANCED_SETTINGS.TOTAL' | translate }}
        </span>
    </div>

    <cdk-virtual-scroll-viewport itemSize="20" class="json-container" *ngIf="!loading">
        <div *cdkVirtualFor="let node of visibleNodes; trackBy: trackByIndex" class="json-line"
            [style.padding-left.px]="node.level * 20">
            <span *ngIf="node.isExpandable" class="toggle" (click)="toggleNode(node)">
                {{ node.isExpanded ? '▼' : '▶' }}
            </span>
            <span *ngIf="!node.isExpandable" class="toggle-spacer"></span>

            <span class="key" [title]="node.path">{{ node.key }}</span>
            <span class="colon">: </span>

            <span [ngClass]="'value-' + node.type">
                {{ node.preview }}
            </span>
        </div>
    </cdk-virtual-scroll-viewport>

    <div *ngIf="loading" class="loading">
        {{ 'EDITION.ADVANCED_SETTINGS.LOADING_JSON' | translate }}
    </div>
</div>