<div class="container-login">
    
    @if (!isGoodVersion) {
        <app-bad-version [version]="lastVersion" (onContinue)="setGoodVersion()"></app-bad-version>
    }

    <p class="label"> {{ 'LAUNCH.LOGIN' | translate }} </p>

    <form [formGroup]="formGroup">
        <input [formControlName]="formControlEmail" [placeholder]="placeHolderEmail | translate" type="text">
        <div class="container-textarea">
            <input [formControlName]="formControlAccessKey" [placeholder]="placeHolderAccessKey | translate"
                (keydown.enter)="onSubmit()" [type]="type">
            <div class="container-image" (click)="onChangeVisibilityOfKeyAccess()">
                <img [src]="srcImageKey">
            </div>
        </div>
        <div class="container-message">
            <p> {{ message | translate }} </p>
        </div>

        <app-button-form [name]="nameButtonLogin" [type]="TypeButtonModel.SUBMIT"
            (clickEmit)="onSubmit()"></app-button-form>
        <app-button-form [name]="nameButtonRegister" [type]="TypeButtonModel.NEXT_PAGE"
            (clickEmit)="navigateToRegisterPage()"></app-button-form>
        <app-button-form [name]="nameButtonOffLine" [type]="TypeButtonModel.NEXT_PAGE"
            (clickEmit)="navigateToOfflineMode()"></app-button-form>

    </form>

</div>