<div class="containerResearchInput">
    <div class="containerAllResearch">
        <form [formGroup]="formGroup">
            <div class="containerInputResearch"
                [ngClass]="{'borderRadiusTop' : displayContentWanted && contentWanted.length > 0}">
                <div class="container-image-research">
                    <img [src]="srcImageresearch">
                </div>
                <input type="text" formControlName="inputValue" [placeholder]="placeHolder | translate"
                    (keydown.enter)="onEnterKey()" (focus)="onFocusWithHollowContent()" />
            </div>
        </form>

        @if(displayContentWanted && contentWanted.length > 0) {
        <div class="containerMoviesSearched">
            @for(credit of contentWanted; track credit.id) {
            <div class="movieSearched" (click)="onClickOnContentWanted(credit)">
                <div class="poster">
                    <img [src]="getPathPosterByMovie(credit)">
                </div>
                <p> {{credit.fullName}}</p>
            </div>
            }
        </div>
        }
    </div>
</div>