.section {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    &:hover {
        .ligne {
            width: 110%;
        }
    }
}

.ligne {
    height: 2px;
    width: 0;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    transition: width 0.3s;
    margin-top: -7px;
}

.sectionName {
    height: 50%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 7px;
    cursor: pointer;
    margin: 0;
    font-size: 12px;
}

.sectionName>img {
    height: 14px;
    width: 14px;
}