.inputText_1 {
    width: 350px;
    height: 40px;
    border: solid white 2px;
    border-radius: 5px;
    background-color: transparent;
}

.inputText_2 {
    width: 280px;
    height: 37px;
    border: solid white 2px;
    border-radius: 5px;
    background-color: transparent;
}

.inputText_3 {
    width: 100%;
    height: 45px;
    border: solid white 2px;
    border-radius: 5px;
    background-color: transparent;
    box-sizing: border-box;
}

input {
    color: white;
    font-size: 18px;
    padding-left: 15px;
}

input::placeholder {
    color: #585858;
    opacity: 0.8;
}

input:focus {
    outline: none;
    border-color: white;
}