.container {
    height: 100%;
    width: 100%;
    background-color: #232323;
    padding: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow: auto;
}

.container-zone-concerned {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title {
    background-color: hsla(0, 0%, 85%, 0.08);
    width: 60%;
    min-width: 300px;
    display: flex;
    align-items: center;
    padding-block: 10px;
    padding-left: 20px;
    box-sizing: border-box;

    p {
        font-size: 20px;
    }
}

p {
    margin: 0;
    color: var(--white);
    font-weight: bold;
}

.title-param {
    font-size: 18px;
    padding-left: 21px;
}

.container-param {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

app-input-radio-button {
    padding-left: 35px;
}