<div class="container">

    <div class="container-zone-concerned">
        <div class="title">
            <p> {{ 'USER.APP_SETTINGS.MOVIE_TV_POSTERS' | translate }} </p>
            <div class="container-reset" (click)="onClickResetMediaParameters()" [title]="'TUTO.RESET' | translate">
                <img [src]="srcReset">
            </div>
        </div>
        @for(param of radioButtonPosterFilm; track param.id) {
        <div class="container-param">
            <p class="title-param"> {{ param.name | translate }} </p>
            <app-input-radio-button [radioButton]="param.radioButton"
                (changeEmit)="onChangePosterFilm(param.id, $event)"></app-input-radio-button>
        </div>
        }
    </div>

    <div class="container-zone-concerned">
        <div class="title">
            <p> {{ 'USER.APP_SETTINGS.LICENSE_POSTERS' | translate }} </p>
            <div class="container-reset" (click)="onClickResetLicenseParameters()" [title]="'TUTO.RESET' | translate">
                <img [src]="srcReset">
            </div>
        </div>
        @for(param of radioButtonPosterLicense; track param.id) {
        <div class="container-param">
            <p class="title-param"> {{ param.name | translate}} </p>
            <app-input-radio-button [radioButton]="param.radioButton"
                (changeEmit)="onChangePosterLicense(param.id, $event)"></app-input-radio-button>
        </div>
        }
    </div>

    <div class="container-zone-concerned">
        <div class="title">
            <p> {{ 'USER.APP_SETTINGS.POSTER_FORMAT' | translate }} </p>
        </div>
        @for(param of radioButtonPosterFormat; track param.id) {
        <div class="container-param">
            <p class="title-param"> {{ param.name | translate}} </p>
            <app-input-radio-button [radioButton]="param.radioButton"
                (changeEmit)="onChangePosterFormat(param.id, $event)"></app-input-radio-button>
        </div>
        }
    </div>

    <div class="container-zone-concerned">
        <div class="title">
            <p> {{ 'USER.APP_SETTINGS.OTHER_OPTIONS' | translate }} </p>
        </div>
        @for(param of radioButtonOtherOption; track param.id) {
        <div class="container-param">
            <p class="title-param"> {{ param.name | translate }} </p>
            <app-input-radio-button [radioButton]="param.radioButton"
                (changeEmit)="onChangeOpeningPage(param.id, $event)"></app-input-radio-button>
        </div>
        }
        <div class="container-license-select" [class.visible]="showLicenseSelect">
            <div class="container-param">
                <p class="title-param"> {{ 'USER.APP_SETTINGS.LAUNCH_LICENSE' | translate }} </p>
                <app-input-select
                    [options]="availableLicenses"
                    [selectedId]="selectedLicenseId"
                    [placeholder]="'USER.APP_SETTINGS.SELECT_LICENSE' | translate"
                    (changeEmit)="onLicenseSelect($event)">
                </app-input-select>
            </div>
        </div>
    </div>

</div>