<div class="container-page">
    <app-menu-tmp></app-menu-tmp>
    <div class="space"></div>
    <div class="container-list">
        <div class="page-header" [style.margin-inline.vw]="marginLeft" >
            <p> {{ title | translate }} </p>
            <app-storage-repartition></app-storage-repartition>
        </div>
        <div style="margin-bottom: -80px;"></div>
        <app-grid-list [mediaList]="medias" [title]="''" [format]="format" [isOnLine]="false"></app-grid-list>
    </div>
</div>
