.container {
  display: grid;
  grid-template-columns: 70fr 30fr;
  grid-template-rows: 35fr 65fr;
  gap: 25px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.container-info {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #232323;
  overflow: hidden;
}
