<div class="container" #container>
    <div class="container-info">
        <app-top-media [userId]="userId"></app-top-media>
    </div>
    <div class="container-info">
        <app-watch-time-stats [userId]="userId"></app-watch-time-stats>
    </div>
    <div class="container-info">
        <app-watching-chart [userId]="userId"></app-watching-chart>
    </div>
    <div class="container-info">
        <app-category-pie-chart [userId]="userId" [limit]="10"></app-category-pie-chart>
    </div>

    <div
        class="divider divider-vertical"
        [style.left.%]="colPercent"
        (mousedown)="onDividerMouseDown($event, 'col')"
    ></div>

    <div
        class="divider divider-horizontal"
        [style.top.%]="rowPercent"
        (mousedown)="onDividerMouseDown($event, 'row')"
    ></div>
</div>