.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

span.legend {
    color: var(--grey);
    font-weight: normal;
}

span.content {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.container-media-infos-loader {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.container-media-info-loader {
    height: auto;
    width: auto;

    p {
       visibility: hidden;
    }
}

p {
    margin: 0px;
}

.container-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-second-line {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-seasons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.container-season {
    width: 60px;
    height: 33px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s background-color;
    cursor: pointer;
    position: relative;

    p {
        margin: 0;
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        transition: 0.3s color;
    }

    &:hover {
        background-color: #FFD300;
        p {
            color: black;
        }
    }
}

.season-clicked {
    background-color: #FFD300;
    p {
        color: black;
    }
}

.season-not-clicked {
    background-color: #2E2E2E;
    p {
        color: white;
    }
}

.news-alert-season {
    height: 15px;
    width: 15px;
    background-color: #FFD301;
    border-radius: 50px;
    position: absolute;
    top: -6px;
    right: -6px;
    opacity: 0.9;
}