.containerInputImage {
    height: auto;
    width: auto;
    display: flex;
    gap: 25px;
}

.inputImage {
    background-color: transparent;
    border: dashed 5px white;
    border-style: dashed;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    transition: 0.3s background-color, gap 0.3s;
    box-sizing: border-box;

    p {
        margin: 0;
        animation: 0.3s drop ease-in;
        transition: 0.3s all;
    }
}

.inputImageWhenImageAdded {
    border: none;
}

.isDragging {
    background-color: #212121;
    gap: 0;

    .insertPicture {
        transform: scale(0.8);
    }

    p {
        transform: scale(0.8);
    }
}

.insertPicture {
    border: dashed 4px white;
    padding: 5px;
    border-radius: 10px;
    animation: 0.3s drop ease-in;
    transition: 0.3s transform;
}

.imageAdded {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 10px 10px 15px black;
    animation: 0.3s drop ease-in;
}

.inputLogo {
    height: 170px;
    width: 480px;

    .insertPicture {
        height: 50px;
        width: 50px;
    }
}

.inputBackGroundImage {
    height: 270px;
    width: 480px;

    .insertPicture {
        height: 60px;
        width: 60px;
    }
}

.inputSeries {
    width: 375px;
    aspect-ratio: 1920/1080;

    .insertPicture {
        height: 40px;
        width: 40px;
    }
}

.inputPoster {
    height: 436.5px;
    width: 291px;

    .insertPicture {
        height: 70px;
        width: 70px;
    }

}

.containerBtDeleteModify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.textExemple {
    font-size: 15px;
    text-align: center;
    color: #585858;
    font-weight: lighter;
}

@keyframes drop {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.containerBtRemove {
    height: 20px;
    width: 20px;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    transition: 0.3s transform;
    cursor: pointer;
    animation: 0.2s enter ease-in;

    img {
        height: 100%;
        width: 100%;
    }

    &:hover {
        transform: scale(0.8);
    }
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}