.container-license {
    min-height: 100vh;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-license::after {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, rgb(20, 20, 20, 0.8) 100%);
    z-index: 1;
}

.container-logo {
    height: 70vh;
    width: 100%;
    grid: 70% 30% / 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.tmp {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    max-height: 100%;
    max-width: 40vw;
    margin: 0;
}

.espace {
    margin: 60px;
}

.title-logo {
    width: auto;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.216);
    color: white;
    border-radius: 5px;
    padding-block: 2vw;
    padding-inline: 4vw;
    margin: 0;
    overflow: hidden;
}

/* Quand écran < 1400px */
@media (max-width: 1400px) {
    .logo-img {
        max-width: 60vw;
    }
}

/* Quand écran < 1100px */
@media (max-width: 1100px) {
    .logo-img {
        max-width: 70vw;
    }
}

/* Quand écran < 700px */
@media (max-width: 700px) {
    .logo-img {
        max-width: 85vw;
    }
}