.container-news {
    display: flex;
    gap: 30px;
    height: auto;
}

.container-media {
    width: 680px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
}

.container-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-background {
    width: 100%;
    aspect-ratio: 1920/1080;
    position: relative;
}

.img-choosen {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.button-delete {
    position: absolute;
    right: 10px;
    top: 10px;
}

.container-jellyfin {
    width: 350px;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    padding-inline: 15px;
}

.container-cover-background {
    position: absolute;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    animation: 0.3s enter-backs;
}

.container-cover-tmp {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: enter-cover 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
}

.container-cover-background::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.back-available {
    width: 100%;
    aspect-ratio: 1920/1080;
    border-radius: 5px;
    border: solid 1px transparent;
    transition: border 0.3s;
    box-sizing: border-box;

    &:hover {
        border: solid 2px rgb(216, 216, 216);
    }
}

.not-choosen {
    border: solid 2px rgba(61, 61, 61, 0.5);
}

.already-choosen {
    border: solid 2px rgb(216, 216, 216);
}

@keyframes enter-backs {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes enter-cover {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container-logo {
    position: absolute;
    height: 40%;
    width: 40%;
    bottom: 30px;
    left: 50px;

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        position: absolute;
        bottom: 0;
    }

    p {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        border-radius: 5px;
        padding-block: 2vw;
        padding-inline: 30px;
        margin: 0;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: normal;
        position: absolute;
        bottom: 0;
    }
}

.container-series {
    flex: 1;
}