<div class="container">
    <div class="container-first-line">
        @if (mediaInfoLoaded) {
        <div class="container-info">
            @if(description !== '') {
            <p> <span class="legend">Description: </span> {{ description }} </p>
            }
            <p [ngClass]="'margin-bottom-text'"> <span class="legend">Genres: </span>
                @for (genre of genres; track $index) {
                @if ($index !== genres.length - 1) {
                <span class="content" (click)="setFilterCategory(genre)">{{ genre.name}}</span>, 
                } @else {
                <span class="content" (click)="setFilterCategory(genre)">{{ genre.name}}</span>
                }
                }
            </p>
            <p [ngClass]="'margin-bottom-text'"> <span class="legend">Un film: </span>
                @for (keyWord of keyWords; track $index) {
                @if ($index !== keyWords.length - 1) {
                <span class="content" (click)="setFilterKeyWord(keyWord)">{{ keyWord}}</span>, 
                } @else {
                <span class="content" (click)="setFilterKeyWord(keyWord)">{{ keyWord}}</span>
                }
                }
            </p>
        </div>
        } @else {
        <div class="container-media-infos-loader">
            <div class="container-media-info-loader" [ngClass]="'container-animation-gradient-normal'">
                <p> Hanté par un lourd passé, Mad Max estime que le meilleur moyen de survivre
                    est de rester seul. Cependant, il se retrouve embarqué par une bande qui parcourt le désert à bord
                    d’un
                    véhicule militaire piloté par l’Impératrice Furiosa. Ils fuient la Citadelle où sévit le terrible
                    Immortan
                    Joe qui s’est fait voler un objet irremplaçable. Enragé, ce Seigneur de guerre envoie ses hommes
                    pour
                    traquer les rebelles impitoyablement… </p>
                <p> <span>Réalisateur : </span> George Miller </p>

            </div>
            <div class="container-media-info-loader" [ngClass]="'container-animation-gradient-normal'">
                <p> <span>Réalisateur : </span> George Miller </p>
            </div>
            <div class="container-media-info-loader" [ngClass]="'container-animation-gradient-normal'">
                <p> <span>Acteurs : </span> Tom Hardy, Zo? Kravitz, Charlize Theron, Nicholas
                    Hoult, Hugh Keays-Byrne, Josh Helman, Nathan Jones, Rosie Huntington-Whiteley, Riley Keough, Abbey
                    Lee
                </p>
                <p> <span>Un film :</span> rescue, future, australia, chase, dystopia,
                    post-apocalyptic future, survival, on the run, on the road, desert, convoy, peak oil, dark future,
                    car,
                    intense </p>
            </div>
        </div>
        }
    </div>

    <div class="container-second-line">
        @if (crews) {
        <app-credit-poster (onClickCreditEmit)="setFilterCredit($event)" [ngClass]="'animationPosterAndLicense'" [credits]="crews" [jobTitle]="JobModel.DIRECTOR"
            [mediaType]="movie.mediaType"></app-credit-poster>
        } @else {
        <app-credit-poster-loading [jobTitle]="JobModel.DIRECTOR"></app-credit-poster-loading>
        }
    </div>

    <div class="container-third-line">
        @if (casts) {
        <app-credit-poster (onClickCreditEmit)="setFilterCredit($event)" [ngClass]="'animationPosterAndLicense'" [credits]="casts"
            [jobTitle]="JobModel.ACTOR"></app-credit-poster>
        } @else {
        <app-credit-poster-loading [jobTitle]="JobModel.ACTOR"></app-credit-poster-loading>
        }
    </div>

    <div class="container-fourth-line">
        @if (similarMedias) {
        <app-similar-poster-vertical [ngClass]="'animationPosterAndLicense'" [medias]="similarMedias"
            (onClicked)="onClickSimilarTitle($event)"></app-similar-poster-vertical>
        } @else {
        <app-similar-poster-vertical-loading></app-similar-poster-vertical-loading>
        }
    </div>
</div>