.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

span.legend {
    color: var(--grey);
    font-weight: normal;
}

span.content {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.container-media-infos-loader {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.container-media-info-loader {
    height: auto;
    width: auto;

    p {
       visibility: hidden;
    }
}

p {
    margin: 0px;
}

.container-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}