<div class="container">
    
    <div class="container-menu-tab" (mouseleave)="onMouseLeave()" (mouseenter)="onMouseEnter()" (click)="onNavigateToUserPage()">
        <div class="container-pp">
            <img [src]="user.profilPhoto" (error)="errorPpUser()">
        </div>
        <div class="container-arrow">
            <div class="arrow-down" [ngClass]="classArrow"></div>
        </div>
    </div>

    <div class="container-under-menu" [ngClass]="class" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <div class="container-option" (click)="onClickReset()">
            <img [src]="srcReset">
            <p>{{ 'MENU.OTHER.RESET' | translate }}</p>
        </div>
        <div class="container-option" (click)="onClickRandomMovie()">
            <img [src]="srcRandom">
            <p>{{ 'MENU.OTHER.START_RANDOM_MOVIE' | translate }}</p>
        </div>
        <div class="container-option" (click)="onClickRandomSeries()">
            <img [src]="srcRandom">
            <p>{{ 'MENU.OTHER.START_RANDOM_SERIE' | translate }}</p>
        </div>
        @for(userTab of userMenu; track userTab.id) {
        <div class="container-option" (click)="onNavigateToUserTab(userTab.id)">
            <img [src]="userTab.srcImage">
            <p> {{ userTab.name | translate }} </p>
        </div>
        }
        <div class="container-deco" (click)="onClickDeconnexion()">
            <p>{{ 'MENU.OTHER.LOGOUT' | translate }}</p>
        </div>
    </div>
</div>