.container-menu-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.container-pp {
    height: 35px;
    width: 35px;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 3px;
        transition: transform 0.3s;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.container-arrow {
    height: 10px;
    width: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.arrow-down {
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 8px solid white;
    transition: 0.4s transform;
    cursor: pointer;
    transition-delay: 0.1s;
    border-radius: 2px;
}

.arrow-clicked {
    transform: rotate(180deg);
}

.arrow-not-clicked {
    transform: rotate(0deg);
}

.container-under-menu {
    position: absolute;
    top: 55px;
    right: 0;
    width: 230px;
    height: auto;
    background-color: #252525;
    transition: 0.1s visibility;
    transition-delay: 0.1s;
    visibility: hidden;
}

.not-visible-under-menu {
    visibility: hidden;
}

.visible-under-menu {
    visibility: visible;
}

.container-option {
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.3s background-color;
    cursor: pointer;
    padding-left: 20px;
    box-sizing: border-box;
    gap: 10px;

    img {
        height: 20px;
        width: 20px;
    }

    p {
        margin: 0;
        font-size: 13px;
    }
}

.container-option:hover {
    background-color: #3E3E3E;
}

.container-deco {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    font-size: 15px;
    cursor: pointer;

    &:hover {
        p {
            text-decoration: underline;
        }
    }
}