<div class="container">
    <div class="container-form-movie">
        <div class="container-first-line">
            @if(date) {
            <p>{{ date | date:'yyyy' }}</p>
            }
            <p>{{ duration }}</p>
            <div class="container-quality">
                <p> {{ quality }} </p>
            </div>
        </div>
        <div class="container-movie-placement">
            <div class="container-poster" [ngClass]='{"container-animation-gradient-poster" : !displaying}'>
                <div class="container-tmp-poster"></div>
                @if(poster) {
                <img class="poster" [src]="poster" [ngClass]='{"hidden" : !displaying}' (load)="onLoadPoster()"
                    (error)="onErrorPoster()">
                }
            </div>
            <p class="title" [ngClass]="'margin-bottom-title'"> {{ movie.title }}
            </p>
            @if (mediaInfoLoaded) {
                @if(description !== '') {
                <p [ngClass]="'margin-bottom-title'"> {{ description }} </p>
                }
                <p [ngClass]="'margin-bottom-text'"> <span>Réalisateur : </span> {{ director }}</p>
                <p [ngClass]="'margin-bottom-text'"> <span>Acteurs : </span> {{ actors }}</p>
                <p [ngClass]="'margin-bottom-text'"> <span>Genres :</span> {{ genre }} </p>
                <p [ngClass]="'margin-bottom-text'"> <span>Un film :</span> {{ keyWord }} </p>
            } @else {
                <div class="container-media-infos-loader">
                    <div class="container-media-info-loader" [ngClass]="'container-animation-gradient-normal'">
                        <p [ngClass]="'margin-bottom-title'"> Hanté par un lourd passé, Mad Max estime que le meilleur moyen de survivre est de rester seul. Cependant, il se retrouve embarqué par une bande qui parcourt le désert à bord d’un véhicule militaire piloté par l’Impératrice Furiosa. Ils fuient la Citadelle où sévit le terrible Immortan Joe qui s’est fait voler un objet irremplaçable. Enragé, ce Seigneur de guerre envoie ses hommes pour traquer les rebelles impitoyablement…  </p>
                    </div>
                    <div class="container-media-info-loader" [ngClass]="'container-animation-gradient-normal'">
                        <p [ngClass]="'margin-bottom-text'"> <span>Réalisateur : </span> George Miller </p>
                        <p [ngClass]="'margin-bottom-text'"> <span>Acteurs : </span> Tom Hardy, Zo? Kravitz, Charlize Theron, Nicholas Hoult, Hugh Keays-Byrne, Josh Helman, Nathan Jones, Rosie Huntington-Whiteley, Riley Keough, Abbey Lee </p>
                        <p [ngClass]="'margin-bottom-text'"> <span>Un film :</span> rescue, future, australia, chase, dystopia, post-apocalyptic future, survival, on the run, on the road, desert, convoy, peak oil, dark future, car, intense </p>
                    </div>
                </div>
            }
        </div>

        <div class="separation-bar"> 
            @if(historicProgress.stateProgress !== ProgressState.NOT_WATCHED) {
            <div class="progress" [style.width.%]="historicProgress.watchProgress"></div>
            }
        </div>

        <div class="container-same-title">
            <p [ngClass]="'color-white-dark'">Titres similaires</p>
        </div>
    </div>

    @if(similarMedias) {
    <div class="container-similar-movies" [ngClass]="'animationPosterAndLicense'">
        @for (media of similarMedias; track media) {
        <app-similar-poster (onClicked)="onClickSimilarTitle($event)" [media]="media"></app-similar-poster>
        }
    </div>
    }@else {
    <div class="container-similar-movies">
        @for(media of similarMediasLoading; track media) {
        <app-similar-poster-loading></app-similar-poster-loading>
        }
    </div>
    }

    <div class="margin-bottom"></div>
</div>