.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container-user {
    flex: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 96% / 380px 1fr;
    gap: 35px;
    box-sizing: border-box;
    padding: 50px;
    top: 50px;
    position: absolute;
}

.container-router-outlet {
    height: 100%;
    width: 100%;
    position: relative;
}