.container {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: scroll;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.mainContain {
    height: auto;
    width: 100%;
    overflow: hidden;
    flex: 1;
}