<div class="container">
    <div class="containerFieldToFill">
        <p>{{ 'POSTER' | translate }} <span class="yellow">*</span></p>
        <app-input-image-edition [srcImageAdded]="season.srcPoster" (inputChange)="onFillPoster($event)"
            [exText]="placeHolderSeasonPoster | translate"></app-input-image-edition>
    </div>
    <div class="containerSettingSelected" style="position: relative;">
        <div class="containerFieldToFill">
            <p>{{ 'EDITION.SERIES.SEASON_NAME' | translate }} <span class="yellow">*</span></p>
            <app-input-text-edition [text]="season.name" (onInputChange)="onChangeTitle($event)"
                [placeHolder]="placeHolderSeason | translate"></app-input-text-edition>
        </div>
        <div class="containerFieldToFill">
            <p> {{ 'EDITION.MEDIA_LIBRARY' | translate }} <span class="yellow">*</span></p>
            <app-input-text-edition [text]="season.mediaLibraryId" (onInputChange)="onChangeMediaLibraryId($event)"
                [placeHolder]="'ex : 817f577ac9be33579e0ec50ede240e43'"></app-input-text-edition>
        </div>
    </div>
</div>