:host {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

svg {
    background-color: #141414;
}


.container-button {
    position: absolute;
    right: 10px;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    font-size: 15px;
    color: #282828;
    border: 1px #282828 solid;
    padding-inline: 10px;
    padding-block: 5px;
    cursor: pointer;

    p {
        margin: 0;
    }
}