@if(displayPopup) {
<div class="container" (click)="onClick()">
    <div class="container-popup" (click)="onClickPopup($event)"
        [ngClass]="'animation'">
        @if(messages) {
        <div class="container-message">
            @for(message of messages; track message) {
            <p> {{ message | translate }}</p>
            }
            <div class="last-message">
                <img [src]="srcImage">
            </div>
        </div>
        }@else {
        <div class="little-spinner"></div>
        }
        @if(displayButton) {
        <div class="container-buttons">
            <div class="container-button" (click)="onClickCancel()">
                <p>{{ 'BUTTON.CANCEL' | translate }}</p>
            </div>
            <div class="container-button" (click)="onClickValidate()">
                <p>{{ 'BUTTON.CONFIRM' | translate }}</p>
            </div>
        </div>
        }
    </div>
</div>
}