<div class="btn-ring" [ngClass]="[alreadyDownloaded ? 'FINISHED' : downloadStatus]"
    [style.height.px]="heightCircle" [style.width.px]="heightCircle"
    [style.border-width.px]="widthBorder" (click)="onClick()">

    @if(downloadStatus === DownloadStatus.IN_PROGRESS) {
    <svg class="water-scene" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
        <defs>
            <g [attr.id]="'water-' + uid">
                <g class="water-level" [style.transform]="progressTranslate">
                    <path class="wave-back" d="M0 4 Q25 12 50 4 T100 4 T150 4 T200 4 V230 H0 Z" fill="currentColor"></path>
                    <path class="wave-front" d="M0 4 Q25 -4 50 4 T100 4 T150 4 T200 4 V230 H0 Z" fill="currentColor"></path>
                </g>
            </g>
            <mask [attr.id]="'water-mask-' + uid" maskUnits="userSpaceOnUse" x="0" y="0" width="100" height="100">
                <use [attr.href]="'#water-' + uid" style="color: #ffffff"></use>
            </mask>
        </defs>
        <use class="water-fill" [attr.href]="'#water-' + uid"></use>
        <image class="water-icon-white" [attr.href]="srcDownload" [attr.x]="iconOffset" [attr.y]="iconOffset"
            [attr.width]="iconUnits" [attr.height]="iconUnits"></image>
        <image class="water-icon-black" [attr.href]="srcDownload" [attr.mask]="'url(#water-mask-' + uid + ')'"
            [attr.x]="iconOffset" [attr.y]="iconOffset" [attr.width]="iconUnits" [attr.height]="iconUnits"></image>
    </svg>
    } @else {
    <img class="btn-download-icon" [src]="alreadyDownloaded || downloadStatus === DownloadStatus.FINISHED ? srcDeleteDl : srcDownload" [style.height.px]="heightIcon" [style.width.px]="heightIcon">
    }
</div>

<div class="btn-tooltip">
    <p>{{ titleKey() }}</p>
</div>
