@if (jobTitle === JobModel.ACTOR) {
<h2>Casting</h2>
} @else if(jobTitle === JobModel.DIRECTOR) {
<h2>Equipe tecnhique</h2>
}
<div class="container-staffs" [style.gap.vw]="gap">
@for (credit of credits; track $index) {
    <div class="container-staff" (click)="onClickCredit(credit)">
        <div class="staff-poster" [style.height.vw]="height" [style.width.vw]="width">
            <div class="container-tmp-poster"></div>
            @if (srcPoster[$index]) {
                <img [src]="srcPoster[$index]" (error)="onErrorImage($index)">
            } @else {
                <img [src]="srcIconStaff">
            }
        </div>
        <p> {{ credit.fullName }} </p>
    </div>
}
@for (item of posterTmp; track $index) {
    <div class="container-staff">
        <div class="staff-poster" [style.height.vw]="height" [style.width.vw]="width">
            <div class="container-tmp-poster"></div>
        </div>
        <p style="visibility: hidden;"> tmp </p>
    </div>
}
<div class="margin-left"></div>
</div>