.container-graph {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

svg {
    position: absolute;
    z-index: 5;
}

.container-overview {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    width: 400px;
    height: auto;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-sizing: border-box;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;

    p {
        margin: 0;
    }
}

.title {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    position: relative;
    width: 100%;

    p {
        font-weight: bold;
    }

    .img-button {
        border-radius: 5px;
        height: 24px;
        cursor: pointer;
        padding: 3px;
        box-sizing: border-box;
    }
}

.img-button-edit {
    border-radius: 5px;
    height: 22px;
    cursor: pointer;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid white;
    }
}

.img-border {
    border: 1px solid white;
}

.container-legends {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.container-legend {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-is-visible {
    height: 15px;
    cursor: pointer;

    img {
        height: 15px;
    }
}

.legend {
    width: auto;
    height: auto;
    border-radius: 50px;
    padding-inline: 15px;
    padding-block: 5px;
    color: white;
    border: 1px solid #232323;
}

.container-node-clicked {
    margin-top: 25px;
    display: flex;
    flex-direction: column;

    .legend {
        margin-block: 5px;
    }

    .container-field:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .container-field:nth-child(even) {
        background-color: hsla(0, 0%, 28%, 0.4);
    }
}

.container-field {
    display: grid;
    grid-template: auto / 30% 70%;
    padding-block: 2px;
}

.container-field-link {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .link:nth-child(odd) {
        background-color: transparent;
    }

    .link:nth-child(even) {
        background-color: hsla(0, 0%, 28%, 0.4);
    }
}

.container-field-link::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-block: 2px;
    gap: 5px;
}

.point {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1px solid white;
}

form {
    position: absolute;
    top: 50%;
    right: 0;
    width: auto;
    height: 25px;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-search {
    height: 12px;
}

input {
    color: white;
    font-size: 13px;
    border: solid 1px hsla(0, 0%, 100%, 0.3);
    background-color: #000000;
    font-weight: bold;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    width: 150px;
    padding-inline: 5px;
}

input::placeholder {
    color: var(--grey);
    opacity: 0.8;
}

input:focus {
    outline: none;
    border: solid 1px white;
}

.container-arrow {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 25px;
    margin-bottom: 10px;

    img {
        transition: transform 0.3s ease-out;
        height: 20px;
        cursor: pointer;
    }
}

.arrow-180deg {
    transform: rotate(180deg);
}