.containerInputArea {
    border: 1.5px solid var(--edit-border);
    background: var(--edit-background);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    transition: border-color 0.2s;

    .wordLimit {
        background-color: var(--edit-border);
    }

    &:focus-within {
        border-color: var(--edit-border-hover);
        .wordLimit {
            background-color: var(--edit-border-hover);
        }
    }

}

.container-area-series {
    width: 350px;
    height: 125px;
}

.container-area-movie {
    width: 550px;
    height: 200px;
}

.inputTextArea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.wordLimit {
    height: 30px;
    width: auto;
    position: absolute;
    border-radius: 5px 0px 0px 0px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: black;
    padding-inline: 5px;
    transition: background-color 0.2s;

    p {
        padding: 5px;
        font-weight: bold;
    }
}

textarea {
    color: var(--edit-color);
    font-size: 17px;
}

textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--edit-placeholder);
    opacity: 0.8;
}

textarea:focus {
    outline: none;
    border-color: transparent;
}