.containerInputArea {
    border: solid white 2px;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.container-area-series {
    width: 350px;
    height: 125px;
}

.container-area-movie {
    width: 550px;
    height: 200px;
}

.inputTextArea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.wordLimit {
    height: 30px;
    width: auto;
    position: absolute;
    border-radius: 5px 0px 0px 0px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: white;
    color: black;
    padding-inline: 5px;

    p {
        padding: 5px;
        font-weight: bold;
    }
}

textarea {
    color: white;
    font-size: 18px;
}

textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #585858;
    opacity: 0.8;
}

textarea:focus {
    outline: none;
    border-color: white;
}