.container-licenses-home {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.container-list-license {
    width: 100%;
    position: relative;
}

.list-license-home {
    height: auto;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
}

.disableTransition {
    transition: none;
}

.activateTransition {
    transition: left 1s;
}

.container-pagination {
    height: 2px;
}

@media (min-width: 1400px) {
    .containerHeader {
        font-size: 1.1vw;
    }

    .container-movie-selection {
        gap: 1vw;
    }
}

/* Quand écran < 1400px */
@media (max-width: 1400px) {
    .container-licenses-home {
        gap: 1.5vw;
    }
}

/* Quand écran < 1100px */
@media (max-width: 1100px) {
    .container-licenses-home {
        gap: 2vw;
    }
}

/* Quand écran < 700px */
@media (max-width: 700px) {
    .container-licenses-home {
        gap: 2.7vw;
    }
}