<div class="container" [ngClass]="[back, currentClass]">

    <div class="container-menu">
        <div class="container-detail-type" (click)="displayInfoUser()"
            [ngClass]="{'detail-false' : detailType, 'detail-true' : !detailType, 'info' : true}">
            <p> {{ 'USER.USER_MANAGEMENT.INFO' | translate }} </p>
        </div>
        <div class="container-detail-type" (click)="displayStats()"
            [ngClass]="{'detail-false' : !detailType, 'detail-true' : detailType, 'stats' : true}">
            <p> {{ 'USER.USER_MANAGEMENT.STATS' | translate }} </p>
        </div>
    </div>

    <div class="container-details">
        @if(detailType) {
        <div class="container-detail">
            <app-user-historic [userId]="user.id"></app-user-historic>
        </div>
        }@else {
        <div class="container-info">
            <div class="container-pp">
                <img [src]="user.profilPhoto">
                <div class="container-pp-tmp"></div>
            </div>

            <form [formGroup]="formGroup">
                <div class="container-inputs">
                    <div class="container-input">
                        <label>Id : </label>
                        <input placeholder="Id" [formControlName]="formControlId">
                    </div>
                    <div class="container-input">
                        <label>{{ 'USER.USER_MANAGEMENT.EMAIL' | translate }}</label>
                        <input placeholder="Adresse mail" [formControlName]="formControlEmail">
                    </div>
                </div>

                <div class="container-inputs">
                    <div class="container-input">
                        <label>{{ 'USER.USER_MANAGEMENT.FIRST_NAME' | translate }}</label>
                        <input placeholder="Prénom" [formControlName]="formControlFirstName">
                    </div>
                    <div class="container-input">
                        <label>{{ 'USER.USER_MANAGEMENT.LAST_NAME' | translate }}</label>
                        <input placeholder="Nom" [formControlName]="formControlLastName">
                    </div>
                </div>

                <div class="container-inputs">
                    <div class="container-input">
                        <label>{{ 'USER.USER_MANAGEMENT.PSEUDO' | translate }}</label>
                        <input placeholder="Pseudo" [formControlName]="formControlPseudo">
                    </div>
                    <div class="container-input">
                        <label>{{ 'USER.USER_MANAGEMENT.DATE_BIRTH' | translate }}</label>
                        <input type="date" [formControlName]="formControlDateBorn">
                    </div>
                </div>
            </form>
        </div>
        }
    </div>

</div>