.container {
    width: 95%;
    height: 400px;
    border-radius: 3px;
    animation: 0.4s enter;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container-menu {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: right;
    border-radius: 0px 3px 0px 3px;
}

@keyframes enter {
    0% {
        height: 0px;
    }

    100% {
        height: 400px;
    }
}

p {
    margin: 0;
    font-weight: bold;
}

.detail-false {
    background-color: transparent;
    color: white;

    &:hover {
        background-color: rgba(45, 45, 45, 0.5);
    }
}

.detail-true {
    background-color: white;
    color: black;
}

.container-detail-type {
    height: 100%;
    width: 85px;
    transition: 0.3s color, 0.3s background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.stats {
    border-radius: 0px 3px 0px 3px;
}

.info {
    border-radius: 0px 0px 3px 3px;
}

.container-detail {
    flex: 1;
}

.container-info {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 25px;
    padding: 40px;
    padding-top: 10px;
    box-sizing: border-box;
}

.container-pp {
    min-height: 200px;
    min-width: 200px;
    height: 200px;
    width: 200px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.container-pp-tmp {
    height: 200px;
    width: 200px;
    transition: 0.3s background-color;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;

    &:hover {
        background-color: rgba(61, 61, 61, 0.4);
    }
}

.container-info {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 25px;
    box-sizing: border-box;
    overflow: hidden;
}

.container-detail {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-inline: 20px;
    padding-block: 10px;
    box-sizing: border-box;
}

.container-info::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

label {
    font-size: 15px;
    color: var(--grey);
}

input {
    color: white;
    font-size: 16px;
    width: 200px;
    height: 40px;
    border: solid 1px hsla(0, 0%, 100%, 0.3);
    background-color: hsla(0, 0%, 16%, 0.3);
    font-weight: bold;
    box-sizing: border-box;
    padding-inline: 15px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
    color: var(--grey);
    opacity: 0.8;
}

input:focus {
    outline: none;
    border: solid 1px hsla(0, 0%, 100%, 0.3);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-inputs {
    display: flex;
    gap: 20px;
}

.container-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}