.container {
  width: 95%;
  border-radius: 3px;
  animation: 0.4s enter;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container-menu {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: right;
  border-radius: 0px 3px 0px 3px;
}

.height-user-historic {
  animation: 0.4s enter-histo;
  height: 1000px;
}

.height-user-perso {
  animation: 0.4s enter-perso;
  height: 400px;
}

@keyframes enter-perso {
  0% {
    height: 0px;
  }

  100% {
    height: 400px;
  }
}

@keyframes enter-histo {
  0% {
    height: 0px;
  }

  100% {
    height: 1000px;
  }
}

p {
  margin: 0;
  font-weight: bold;
}

.detail-false {
  background-color: transparent;
  color: white;

  &:hover {
    background-color: rgba(45, 45, 45, 0.5);
  }
}

.detail-true {
  background-color: white;
  color: black;
}

.container-detail-type {
  height: 100%;
  width: 85px;
  transition:
    0.3s color,
    0.3s background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.stats {
  border-radius: 0px 3px 0px 3px;
}

.info {
  border-radius: 0px 0px 3px 3px;
}

.container-info {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 25px;
  padding: 40px;
  padding-top: 10px;
  box-sizing: border-box;
}

.container-pp {
  min-height: 200px;
  min-width: 200px;
  height: 200px;
  width: 200px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.container-pp-tmp {
  height: 200px;
  width: 200px;
  transition: 0.3s background-color;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;

  &:hover {
    background-color: rgba(61, 61, 61, 0.4);
  }
}

.container-info {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.container-details {
  height: 150%;
  width: 100%;
  overflow: hidden;
  padding-inline: 20px;
  padding-block: 10px;
  box-sizing: border-box;
}

.container-detail {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container-info::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

label {
  font-size: 14px;
  color: var(--grey);
}

input {
  color: #ccc;
  font-size: 16px;
  width: 200px;
  height: 40px;
  border: 1.5px solid #2a2a2a;
  background-color: #111;
  font-weight: bold;
  box-sizing: border-box;
  padding-inline: 15px;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
  color: var(--grey);
  opacity: 0.8;
}

input:focus {
  outline: none;
  border-color: #555;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-inputs {
  display: flex;
  gap: 20px;
}

.container-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.back-dark {
  background-color: #111;
}
.back-clear {
  background-color: #222222
}