.container {
    height: 28vw;
    width: 53.4vw;
    background-color: #232323;
    box-shadow: 4px 4px 15px black;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-block: 2vw;
}

.title {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.628vw;
}

.container::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

.container-profil-picture {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.profil-picture {
    height: 5.2vw;
    width: 5.2vw;
    border-radius: 0.326vw;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    transition: border 0.3s;
    border: 2px solid transparent;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &:hover {
        border: 2px solid rgb(241, 241, 241);
    }
}

.container-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
}

@media (max-width: 1536px) {

    .container {
        height: 430px;
        width: 820px;
        padding-block: 30px;
    }

    .title {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .profil-picture {
        height: 80px;
        width: 80px;
        border-radius: 5px;
    }

    .container-profil-picture {
        gap: 15px;
    }
}