<div class="container-list" [style.margin-left.vw]="marginLeft">
    @if (title && title !== "") {
        <p> {{ title | translate }} </p>
    }
    <div class="container-poster" [style.gap.vw]="gap">
        @if(mediaList) {
        @if(mediaList.length > 0) {
        @for(media of mediaList; track media) {
        @defer (on viewport) {
        <app-vertical-poster [media]="media" [typeZoomX]="media.typeZoomX"
            [typeZoomY]="media.typeZoomY"></app-vertical-poster>
        } @placeholder {
        <div class="poster-placeholder"></div>
        }
        }
        @if (isLoadingCatalog) {
        @for(poster of postersLoadingCatalog; track poster) {
        <app-poster-loading [height]="height" [width]="width" [marginBottom]="marginBottomLoading"></app-poster-loading>
        }
        }
        }@else {
        <div class="container-not-content-found">
            <app-setting-not-found></app-setting-not-found>
        </div>
        }
        }@else {
        @for(poster of postersLoading; track poster) {
        <app-poster-loading [height]="height" [width]="width" [marginBottom]="marginBottomLoading"></app-poster-loading>
        }
        }
    </div>
</div>
<div [style.height.vw]="marginBottom"></div>
