<div class="container">
    <div class="container-form-movie">
        <div class="container-first-line">
            @if(date) {
            <p>{{ date | date:'yyyy' }}</p>
            }
            @if(series.seasons.length > 1) {
            <p> {{ series.seasons.length }} Saisons </p>
            }@else {
            <p> {{ series.seasons.length }} Saison </p>
            }
            <div class="container-quality">
                <p> Series </p>
            </div>
        </div>
        <div class="container-movie-placement">
            <p class="title" [ngClass]="'margin-bottom-title'"> {{ series.title }} </p>
            @if(casts && crews && mediaInfoLoaded) {
                @if(description !== '') {
                <p [ngClass]="'margin-bottom-title'"> {{ description }} </p>
                }
                <p [ngClass]="'margin-bottom-text'"> <span class="legend">Production & Réalisation: </span> 
                    @for (crew of crews; track $index) {
                        @if ($index !== crews.length - 1) {
                            <span class="content" (click)="setFilterCredit(crew)">{{ crew.fullName}}<!-- <span class="character-job">({{crew.job}})</span> --></span>,
                        } @else {
                            <span class="content" (click)="setFilterCredit(crew)">{{ crew.fullName}}<!-- <span class="character-job">({{crew.job}})</span> --></span>
                        }
                    }
                </p>
                <p [ngClass]="'margin-bottom-text'"> <span class="legend">Acteurs: </span> 
                    @for (cast of casts; track $index) {
                        @if ($index !== casts.length - 1) {
                            <span class="content" (click)="setFilterCredit(cast)">{{ cast.fullName}}<!-- <span class="character-job">({{cast.character}})</span> --></span>, 
                        } @else {
                            <span class="content" (click)="setFilterCredit(cast)">{{ cast.fullName}}<!-- <span class="character-job">({{cast.character}})</span> --></span>
                        }
                    }
                </p>
                <p [ngClass]="'margin-bottom-text'"> <span class="legend">Genres: </span> 
                    @for (genre of genres; track $index) {
                        @if ($index !== genres.length - 1) {
                            <span class="content" (click)="setFilterCategory(genre)">{{ genre.name}}</span>, 
                        } @else {
                            <span class="content" (click)="setFilterCategory(genre)">{{ genre.name}}</span>
                        }
                    }
                </p>
                <p [ngClass]="'margin-bottom-text'"> <span class="legend">Un film: </span> 
                    @for (keyWord of keyWords; track $index) {
                        @if ($index !== keyWords.length - 1) {
                            <span class="content" (click)="setFilterKeyWord(keyWord)">{{ keyWord}}</span>, 
                        } @else {
                            <span class="content" (click)="setFilterKeyWord(keyWord)">{{ keyWord}}</span>
                        }
                    }
                </p>
            } @else {
                <div class="container-media-infos-loader">
                    <div class="container-media-info-loader" [ngClass]="'container-animation-gradient-normal'">
                        <p [ngClass]="'margin-bottom-title'"> Hanté par un lourd passé, Mad Max estime que le meilleur moyen de survivre est de rester seul. Cependant, il se retrouve embarqué par une bande qui parcourt le désert à bord d’un véhicule militaire piloté par l’Impératrice Furiosa. Ils fuient la Citadelle où sévit le terrible Immortan Joe qui s’est fait voler un objet irremplaçable. Enragé, ce Seigneur de guerre envoie ses hommes pour traquer les rebelles impitoyablement…  </p>
                    </div>
                    <div class="container-media-info-loader" [ngClass]="'container-animation-gradient-normal'">
                        <p [ngClass]="'margin-bottom-text'"> <span>Réalisateur : </span> George Miller </p>
                        <p [ngClass]="'margin-bottom-text'"> <span>Acteurs : </span> Tom Hardy, Zo? Kravitz, Charlize Theron, Nicholas Hoult, Hugh Keays-Byrne, Josh Helman, Nathan Jones, Rosie Huntington-Whiteley, Riley Keough, Abbey Lee </p>
                        <p [ngClass]="'margin-bottom-text'"> <span>Un film :</span> rescue, future, australia, chase, dystopia, post-apocalyptic future, survival, on the run, on the road, desert, convoy, peak oil, dark future, car, intense </p>
                    </div>
                </div>
            }
        </div>
        <div class="separation-bar"> </div>

        <div class="container-same-title">
            <p (click)="onClickTypeSeasonsEpisodes()" [ngClass]="{'color-white-dark' : type, 'color-grey-dark' :!type}">
                Saisons / Episodes</p>
            <p (click)="onClickTypeSimilarTitles()" [ngClass]="{'color-white-dark' : !type, 'color-grey-dark' :type}">
                Titres
                similaires</p>
        </div>
    </div>

    @if(type) {
    <div class="container-series" [ngClass]="'animationPosterAndLicense'">
        <div class="container-season">
            @if(seasons.length > 0) {
            @for(season of seasons; track season.id; let idx = $index) {
            <div class="container-poster" (click)="onClickSeason(idx)">
                @if(season.isClicked) {
                <div class="container-icon-selected">
                    <img [src]="srcSucces">
                </div>
                }
                <div class="container-num-season">
                    <p>{{ season.seasonNumber}}</p>
                </div>
                <div class="container-tmp-poster"></div>
                @if(season.srcPoster) {
                <img class="poster" [src]="season.srcPoster" (error)="onErrorPosterSeason(idx)">
                } @else {
                <p> {{ season.name }} </p>
                }
            </div>
            }
            @for(seasonTmp of seasonsPosterTmp; track seasonTmp) {
            <div class="container-poster">
                <div class="container-tmp-poster"></div>
            </div>
            }
            } @else {
            @for(season of seasonsLoading; track season) {
            <div class="container-poster" [ngClass]='"container-animation-gradient-poster"'>
            </div>
            }
            }
        </div>
        @if(episodes) {
        <app-episode-poster-vertical-view [series]="series" [episodes]="episodes"
            [ngClass]="'animationPosterAndLicense'"></app-episode-poster-vertical-view>
        }@else {
        <app-episode-poster-vertical-view-loading></app-episode-poster-vertical-view-loading>
        }
    </div>
    } @else {
    @if(similarMedias) {
    <div class="container-similar-movies" [ngClass]="'animationPosterAndLicense'">
        @for (media of similarMedias; track media) {
        <app-similar-poster-horizontal (onClicked)="onClickSimilarTitle($event)" [media]="media"></app-similar-poster-horizontal>
        }
    </div>
    }@else {
    <div class="container-similar-movies">
        @for(media of similarMediasLoading; track media) {
        <app-similar-poster-horizontal-loading></app-similar-poster-horizontal-loading>
        }
    </div>
    }
    }

    <div class="margin-bottom"></div>
</div>