.container-preload {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    aspect-ratio: 1920/1080;
}

.container-movie-presentation {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.container-movie-presentation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 1) 100%);
}

.container-video {
    height: 100%;
    width: 100%;
    position: absolute;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.display-video {
    visibility: visible;
}

.hidde-video {
    visibility: hidden;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    transform: scale(1.15);
}

.set-position {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 75% 35% / 100%;
    position: relative;
    z-index: 10;
}

.container-movie-information {
    height: 100%;
    width: 100%;
    position: relative;
}

.size-logo-during-streaming {
    height: 12vw;
    width: 27vw;
}

.size-logo-not-during-streaming {
    height: 18vw;
    width: 40vw;
}

.container-logo {
    position: relative;

    img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
    }

    p {
        font-size: 3vw;
        font-weight: bold;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        border-radius: 0.3vw;
        padding-block: 2vw;
        padding-inline: 2.5vw;
        margin: 0;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: normal;
        position: absolute;
        bottom: 0;
    }
}

.enable-logo-transition {
    transition: 0.7s height, 0.7s width linear;
}

.disable-logo-transition {
    transition: none;
}

.container-info-absolute {
    position: absolute;
    bottom: 0;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-description {
    width: 45vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 1vw;
    font-weight: bold;
    animation: 2s enter;

    p {
        margin: 0;
    }
}

.container-column-button {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 550px;
    position: relative;
}

.container-row-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.container-other-row-button {
    margin-left: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}

@keyframes enter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width : 1100px) {
    .container-column-button {
        transform: scale(0.9);
        transform-origin: left top;
    }

    .container-info-absolute {
        gap: 26px;
        margin-left: 90px;
    }
}

@media (max-width : 1100px) {
    .container-column-button {
        transform: scale(0.8);
        transform-origin: left top;
    }

    .container-info-absolute {
        gap: 24px;
        margin-left: 80px;
    }
}

@media (max-width : 800px) {
    .container-column-button {
        transform: scale(0.7);
        transform-origin: left top;
    }

    .container-info-absolute {
        gap: 21px;
        margin-left: 70px;
    }

    .size-logo-not-during-streaming {
        height: 12vw;
        width: 27vw;
    }
}