<div class="container-sprite" [style.height.px]="rainbow.height" [style.width.px]="rainbow.width"
    [style.top.px]="rainbow.y" [style.left.px]="rainbow.x">
    <img [src]="rainbow.image" [style.height.px]="rainbow.height" [style.width.px]="rainbow.width">
</div>

<div class="container-sprite" [style.height.px]="character.height" [style.top.px]="character.y"
    [style.width.px]="character.width" [style.left.px]="character.x">
    <img [src]="character.image" [style.height.px]="character.height" [style.width.px]="character.width">
</div>

<div class="container-sprite" [style.height.px]="sparks.height" [style.width.px]="sparks.width"
    [style.top.px]="sparks.y" [style.left.px]="sparks.x">
    <img [src]="sparks.image" [style.height.px]="sparks.height" [style.width.px]="sparks.width">
</div>