.container-series {
    display: flex;
    padding-inline: 50px;
    flex-direction: column;
    gap: 50px;
}

.container-season {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: -5px;
}

.container-icon-selected {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 10px;
    position: absolute;
    overflow: hidden;

    img {
        width: 40%;
    }
}

.container-num-season {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 10px;
    position: absolute;
    overflow: hidden;
    
    p {
        color: #FFD301 !important;
        font-size: 10px !important;
        font-weight: bold;
    }
}