.container-staffs {
    display: flex;
    align-items: baseline;
    overflow-x: auto;
    padding-bottom: 30px;
}

.container-staffs::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.container-staff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    flex-shrink: 0;
}

.staff-poster {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    flex-shrink: 0;
    overflow: hidden;

    img {
        height: 100%;
        object-fit: cover;
    }
}

.container-tmp-poster {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(14, 14, 14);
    z-index: 99;
    transition: 0.3s opacity;
    opacity: 0;
}
.container-tmp-poster:hover {
    opacity: 0.7;
}

@keyframes enter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.margin-left {
    width: 50px;
}

.container-info-credit {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
        text-align: center;
        margin: 0;
    }
}

.character-job {
    color: var(--grey);
    font-size: 14px;
}