@if (jobTitle === JobModel.ACTOR) {
<h2> {{ 'MEDIA_PAGE.CASTING' | translate }} </h2>
} @else if(jobTitle === JobModel.DIRECTOR) {
<h2> {{ 'MEDIA_PAGE.PRODUCTION_DIRECTION' | translate }} </h2>
}
<div class="container-staffs" [style.gap.vw]="gap">
@for (credit of credits; track $index) {
    @defer(on viewport) {
    <div class="container-staff animationPosterAndLicense">
        <div class="staff-poster" (click)="onClickCredit(credit)" [style.height.vw]="height" [style.width.vw]="width">
            <div class="container-tmp-poster"></div>
            @if (srcPoster[$index]) {
                <img [src]="srcPoster[$index]" loading="lazy" decoding="async" (error)="onErrorImage($index)">
            } @else {
                <img [src]="srcIconCredit">
            }
        </div>
        <div class="container-info-credit">
        <p (click)="onClickCredit(credit)" [style.width.vw]="width"> {{ credit.fullName }} </p>
        @if (jobTitle === JobModel.ACTOR) {
            <p (click)="onClickCredit(credit)" class="character" [style.width.vw]="width"> {{ credit.character }} </p>
        } @else if(jobTitle === JobModel.DIRECTOR) {
            <p (click)="onClickCredit(credit)" class="job" [style.width.vw]="width"> {{ credit.job | job}} </p>
        }
        </div>
    </div>
    } @placeholder {
    <div class="container-staff">
        <div class="staff-poster container-animation-gradient-normal" [style.height.vw]="height" [style.width.vw]="width"></div>
    </div>
    }
}
@for (item of posterTmp; track $index) {
    <div class="container-staff">
        <div class="staff-poster" [style.height.vw]="height" [style.width.vw]="width">
            <div class="container-tmp-poster"></div>
        </div>
        <p style="visibility: hidden;"> tmp </p>
    </div>
}
<div class="margin-left"></div>
</div>
