<p class="parcourir" [style.margin-left.vw]="marginLeft"> {{ 'BUTTON.BROWSE' | translate}} </p>
<div class="container-list-license" [style.gap.vw]="gap" [style.padding-left.vw]="marginLeft">
    @if(licenseSearchList) {
    @for(licenseSearch of licenseSearchList; track licenseSearch.id) {
    @defer(on viewport) {
    <app-search-license [licenseSearch]="licenseSearch"></app-search-license>
    } @placeholder {
    <app-search-license-loading [dimension]="dimension"></app-search-license-loading>
    }
    }
    }@else {
    @for(licenseLoading of licenseLoadingList; track licenseLoading) {
    <app-search-license-loading [dimension]="dimension"></app-search-license-loading>
    }
    }
</div>

<div [style.margin-bottom.vw]="marginBottom"></div>