input {
    color: var(--edit-color);
    font-size: 17px;
    padding-left: 15px;
}

input::placeholder {
    color: #585858;
    opacity: 0.8;
}

input:focus {
    outline: none;
    border-color: transparent;
}

.container-form-date {
    width: 200px;
    height: 40px;
    border: 1.5px solid var(--edit-border);
    background: var(--edit-background);
    transition: border-color 0.2s;
    border-radius: 5px;
    font-size: 17px;

    &:focus-within {
        border-color: var(--edit-border-hover);
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}