input {
    color: white;
    font-size: 18px;
    padding-left: 15px;
}

input::placeholder {
    color: #585858;
    opacity: 0.8;
}

input:focus {
    outline: none;
    border-color: white;
}

.container-form-date {
    width: 200px;
    height: 40px;
    border: solid white 2px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 17px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}