.container-in-development-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: absolute;

    p {
        color: #808080;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
}

.container-image {
    max-height: 40%;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
    }
}

.container-loading {
    position: absolute;
    left: 73%;
    top: 11%;
    transform: translate(-73%, -11%);
}