<div class="container-register">

    @if(displayPopup) {
    <app-opt [isSend]="isSend" (close)="onClosePopup()" (sendNewCode)="onSendNewCode()" (validate)="onValidate($event)"></app-opt>
    }

    <p class="label"> {{ "LAUNCH.CREATE_ACCOUNT" | translate }}</p>

    <form [formGroup]="formGroup">
        <input [formControlName]="formControlPseudo" [placeholder]="placeHolderPseudo | translate" type="text">
        <input [formControlName]="formControlFirstName" [placeholder]="placeHolderFirstName | translate" type="text">
        <input [formControlName]="formControlLastName" [placeholder]="placeHolderLastName | translate" type="text">
        <input [formControlName]="formControlDateBorn" type="date">
        <input [formControlName]="formControlEmail" [placeholder]="placeHolderEmail | translate" type="text">

        <div class="container-message">
            <p> {{ message | translate}}</p>
        </div>

        <app-button-form [name]="nameButtonRegister" [type]="TypeButtonModel.SUBMIT"
            (clickEmit)="onSubmit()"></app-button-form>
        <app-button-form [name]="nameButtonLogin" [type]="TypeButtonModel.NEXT_PAGE"
            (clickEmit)="navigateToLoginPage()"></app-button-form>
    </form>
</div>