.inputTime {
    width: 128px;
    height: 40px;
    border: 1.5px solid var(--edit-border);
    background: var(--edit-background);
    box-sizing: border-box;
    transition: border-color 0.2s;
    border-radius: 5px;

    &:focus-within {
        border-color: var(--edit-border-hover);
    }
}

.inputTime::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.inputTime::-moz-focus-inner {
    border: 0;
}

.inputTime {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input {
    color: var(--edit-color);
    font-size: 18px;
    padding-left: 15px;
}

input::placeholder {
    color: var(--edit-color);
}

input:focus {
    outline: none;
    border-color: transparent;
}