.inputTime {
    width: 128px;
    height: 40px;
    border: solid white 2px;
    border-radius: 5px;
    background-color: transparent;
    box-sizing: border-box;
}

.inputTime::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.inputTime::-moz-focus-inner {
    border: 0;
}

.inputTime {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input {
    color: white;
    font-size: 18px;
    padding-left: 15px;
}

input::placeholder {
    color: #585858;
    opacity: 0.8;
}

input:focus {
    outline: none;
    border-color: white;
}