.container-news {
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0px 25px 25px black;
    cursor: pointer;
    position: relative;
    border: 2px solid transparent;
    transition: 0.3s transform, 0.3s border;
    transition-delay: 0s;
    box-sizing: border-box;

    &:hover {
        transform: scale(1.01);
        border: 2px solid rgb(218, 218, 218);
        transition-delay: 0.5s;
    }
}

.container-back {
    height: 100%;
    width: 100%;
    position: relative;

    img {
        width: 100%;
        position: absolute;
    }
}

.top {
    img {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
}

.center {
    img {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.bottoom {
    img {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
}

.container-logo {
    width: 40%;
    height: 50%;
    position: absolute;
    bottom: 8%;
    left: 2.5%;

    img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
    }
}

@media (max-width : 900px) {
    .container-news {
        border-radius: 1vw;
    }
}

.title {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 0.3vw;
    padding-block: 1.5vw;
    padding-inline: 2vw;
    margin: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    position: absolute;
    bottom: 0;
}

p {
    margin: 0;
}