<app-popup></app-popup>

<div class="container">
    <div class="container-info">
        <p>{{ 'USER.USER_SUPPORT.INFO_1' | translate }}</p>
        <p>{{ 'USER.USER_SUPPORT.INFO_2' | translate }}</p>
    </div>

    <div class="container-form">
        <div class="container-input">
            <p class="label">{{ 'USER.USER_SUPPORT.PRINCIPAL_SUBJECT' | translate }}</p>
            <div class="selection" #inputSubject
                [ngClass]="{'border-radius' : !displaySubject, 'border-radius-top' : displaySubject}">
                @if(currentForm.subject) {
                <p class="input" (click)="onSubjectClick()"> {{ currentForm.subject }} </p>
                } @else {
                <p class="input" (click)="onSubjectClick()"> {{ 'USER.USER_SUPPORT.SELECT_SUBJECT' | translate }} </p>
                }
                <img [src]="srcArrow" class="arrow">
                @if(displaySubject) {
                <div class="support-list">
                    @for(form of formTab; track form.id) {
                    <div class="item" (click)="onClickItemSubject(form.id)">
                        <p> {{ form.subject }} </p>
                    </div>
                    }
                </div>
                }
            </div>
        </div>

        <div class="container-input">
            <p class="label">{{ 'USER.USER_SUPPORT.TOPIC_AREA' | translate }}</p>
            <div class="selection" #inputTheme
                [ngClass]="{'border-radius' : !displayTheme, 'border-radius-top' : displayTheme}">
                @if(currentForm.areaConcerned) {
                <p class="input" (click)="onThemeClick()"> {{ currentForm.areaConcerned }} </p>
                } @else {
                <p class="input" (click)="onThemeClick()"> {{ 'USER.USER_SUPPORT.SELECT_TOPIC' | translate }} </p>
                }
                <img [src]="srcArrow" class="arrow">
                @if(displayTheme) {
                <div class="support-list">
                    @for(form of formThemeTab; track form) {
                    <div class="item" (click)="onClickItemTheme(form)">
                        <p> {{ form }} </p>
                    </div>
                    }
                </div>
                }
            </div>
        </div>

        <div class="container-input" style="height: 50%;">
            <p class="label">{{ 'USER.USER_SUPPORT.MESSAGE' | translate }}</p>
            <form [formGroup]="formGroup">
                <textarea rows="7" [formControlName]="formControlMessage"></textarea>
                <p style="color: #aaa;">{{ currentLength }}/{{ maxLength}} {{ 'MAXIMUM_CHARACTERS' | translate }}</p>
            </form>
        </div>

        <div class="container-button">
            <div class="button" (click)="resetForm()">
                <p>{{ 'BUTTON.CANCEL' | translate }}</p>
            </div>
            <div class="button" (click)="sendForm()">
                <p>{{ 'BUTTON.SEND' | translate }}</p>
            </div>
        </div>

    </div>

</div>