.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 100px 1fr / 100%;
    gap: 30px;
    position: relative;
}

.container-info {
    height: 100%;
    width: 100%;
    background-color: #232323;
    font-size: 15px;
    color: var(--white-dark);
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5px;
    padding-inline: 60px;
    box-sizing: border-box;
    overflow: hidden;

    p {
        margin: 0;
    }
}

.container-form {
    height: 100%;
    width: 100%;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    padding-inline: 60px;
    padding-block: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.container-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.selection {
    width: 100%;
    height: 45px;
    background-color: #313131;
    border: 1px solid var(--grey);
    cursor: pointer;
    position: relative;
}

.border-radius {
    border-radius: 3px 3px 3px 3px;
}

.border-radius-top {
    border-radius: 3px 3px 0px 0px;
}

.arrow {
    position: absolute;
    top: 40%;
    right: 15px;
    height: 10px;
    width: 10px;
    transform: rotate(-90deg) translateY(-40%);
}

.label {
    font-size: 14px;
    color: var(--grey);
}

.input {
    color: var(--white-dark);
    font-size: 16px;
    font-weight: bold;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
}

form {
    border: 1px solid var(--grey);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;

    p {
        font-size: 14px;
        color: var(--grey-dark);
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-weight: bold;
    }
}

textarea {
    color: var(--white-dark);
    font-size: 16px;
    width: 100%;
    height: max-content;
    border: none;
    font-weight: bold;
    box-sizing: border-box;
    padding: 15px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border-radius: 3px;
    border: none;
}

textarea:focus {
    outline: none;
    border: none;
}

p {
    margin: 0;
}

.container-button {
    margin-top: 30px;
    display: grid;
    grid-template: 1fr / 50% 50%;
    position: relative;
}

.container-button div:nth-child(1) {
    position: absolute;
    left: 0;
}

.container-button div:nth-child(2) {
    position: absolute;
    right: 0;
}

.button {
    width: min-content;
    font-size: 20px;
    color: var(--grey);
    border: solid 1px var(--grey);
    background-color: transparent;
    padding-inline: 30px;
    padding-block: 7px;
    transition: color 0.3s, border 0.3s, background-color 0.3s;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;

    &:hover {
        border: solid 1px white;
        background-color: white;
        color: black;
    }
}

.support-list {
    width: calc(100% + 1px);
    display: flex;
    flex-direction: column;
    background-color: #313131;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--grey);
    z-index: 20;
    border-radius: 0px 0px 3px 3px;
    animation: enter 0.4s;
}

.item {
    height: 40px;
    transition: 0.3s background-color;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;

    &:hover {
        background-color: #484848;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translate(-50%, 20px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0px);
    }
}