img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-license-home {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.8);
    border: #383838 solid 1px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s transform;
    box-sizing: border-box;

    &:hover {
        transform: scale(1.05);
        border: white solid 2px;
    }
}

.title-license-home {
    width: 90%;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.216);
    color: white;
    border-radius: 5px;
    padding-block: 1.3vw;
    margin: 0;
}

/* Quand écran < 1100px */
@media (max-width: 1400px) {
    .title-license-home {
        font-size: 1.7vw;
        padding-block: 1.6vw;
    }
}

/* Quand écran < 1100px */
@media (max-width: 1100px) {
    .title-license-home {
        font-size: 2.1vw;
        padding-block: 1.9vw;
    }
}

/* Quand écran < 700px */
@media (max-width: 700px) {
    .title-license-home {
        font-size: 2.9vw;
        padding-block: 2.2vw;
    }
}