input {
    color: white;
    font-size: 16px;
    padding-inline: 15px;
    width: 100%;
    height: 45px;
    border: none;
    background-color: #282828;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
    color: var(--grey-dark);
    opacity: 0.8;
}

input:focus {
    outline: none;
    border: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}