.container-download-menu {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-top: 5px;
    
    img {
        height: 18px;
        width: 18px;
    }
}

.container-download-menu:hover {
    background-color: #232323;
}
