.container-movie-selection {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.disableTransition {
    transition: none;
}

.activateTransition {
    transition: left 1s;
}

.container-line-film {
    width: 100%;
    position: relative;
}

.container-list-film {
    height: auto;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
}

.containerHeader {
    width: 100%;
    height: auto;
    display: grid;
    grid: 1fr / 70% 30%;
    font-weight: bold;
    margin-top: 0;

    p {
        margin: 0;
    }
}

.containerTitle {
    width: 100%;
}

@media (min-width: 1400px) {
    .containerHeader {
        font-size: 1.4vw;
    }

    .container-movie-selection {
        gap: 1vw;
    }
}

/* Quand écran < 1400px */
@media (max-width: 1400px) {
    .containerHeader {
        font-size: 1.8vw;
    }

    .container-movie-selection {
        gap: 1.5vw;
    }
}

/* Quand écran < 1100px */
@media (max-width: 1100px) {
    .containerHeader {
        font-size: 2.4vw;
    }

    .container-movie-selection {
        gap: 2vw;
    }
}

/* Quand écran < 700px */
@media (max-width: 700px) {
    .containerHeader {
        font-size: 3.4vw;
    }

    .container-movie-selection {
        gap: 2.7vw;
    }
}