<div class="container">

    <div class="button" (click)="onChangeTypeInfo(false)"
        [ngClass]="{'button-on-focus' : !typeInfo, 'button-dont-focus' : typeInfo}">
        <p> {{ 'EDITION.SERIES.MAIN_INFO' | translate }} </p>
    </div>

    <div class="button" (click)="onChangeTypeInfo(true)"
        [ngClass]="{'button-on-focus' : typeInfo, 'button-dont-focus' : !typeInfo}">
        <p> {{ 'EDITION.SERIES.INFO_SEASONS' | translate }} </p>
    </div>

</div>

<div class="separation-bar">

</div>