.containerMainError {
    width: 600px;
    background-color: #141414;
    border-radius: 10px;
    display: grid;
    grid-template: 100% / 35% 65%;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

.containerHidden {
    animation: change-visibility 0.4s ease-out;
    opacity: 0;
    visibility: hidden;
}

@keyframes change-visibility {
    0% {
        opacity: 1;
        visibility: visible;
    }

    90% {
        opacity: 0;
    }

    100% {
        visibility: hidden;
    }
}

.errorVisible {
    animation: grow-up 0.3s ease-in;
}

.errorHidden {
    animation: decrease 0.4s ease-out;
    height: 0px;
    overflow: hidden;
    padding: 0;
}

@keyframes grow-up {
    from {
        height: -50px;
    }

    to {
        height: 200px;
    }
}

@keyframes decrease {
    from {
        height: 200px;
    }

    to {
        height: 0px;
    }
}

.conntainerIconWarning {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 90px;
    }
}

.containerMessageError {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.containerTitleError {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.underscore {
    width: 80%;
    height: 4px;
    background-color: white;
}

.containerText {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.containerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-block: 10px;
}

button {
    height: 30px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.white {
    background-color: white;
}

.yellow {
    background-color: #FFD301;
}

p {
    margin: 0;
}