.container-posters {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
    padding-bottom: 15px;
}

.container-posters::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

.container-poster {
    height: auto;
    width: auto;
    position: relative;
}

.containerBtRemove {
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    transition: 0.3s transform;
    cursor: pointer;
    animation: 0.2s enter ease-in;

    img {
        height: 100%;
        width: 100%;
    }

    &:hover {
        transform: scale(0.8);
    }
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}