<div class="fin">
    <img class="companieName" src="icon/choco.svg">
    <div class="flexBoxBlabla">
        <p>À propos de Choco +</p>
        <p>Condition générale d'utilisation</p>
        <p>Appareils compatibles</p>
        <p>Qui sommes-nous</p>
        <p>Aide</p>
    </div>

    <div class="flexBoxReseau">
        <img src="icon/facebook.png">
        <img src="icon/twitter.png">
        <img src="icon/instagram.png">
        <img src="icon/github.png">
    </div>
    <p>ⓒ ChocoPops. Tous droits réservés.</p>
</div>