.fin {
    z-index: 99;
    position: relative;
    padding-block: 35px;
    width: 100%;
    height: auto;
    background-color: black;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    gap: 10px;
}

.logo {
  height: 25px;
  margin-bottom: 8px;
}

.info {
  margin-bottom: 4px;
}

.info span {
  margin: 0 3px;
}

.legal span {
  margin: 0 3px;
}