.container-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-men-tmp {
    width: 100%;
    height: 60px;
}

.container-edition {
    flex-grow: 1;
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container-dividing-bar {
    max-height: 100%;
    height: 100%;
    width: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-parameters {
    height: 100%;
    width: 30%;
    overflow: hidden;
}

.dividing-bar {
    background-color: #343434;
    height: 96%;
    width: 4px;
    border-radius: 5px;
    margin: 0;
    cursor: col-resize;
}

.container-router-outlet {
    height: 100%;
    flex: 1;
    position: relative;
    min-width: 700px;
}