.container {
    height: 100%;
    width: 100%;
    background-color: #232323;
    box-sizing: border-box;
    padding: 60px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 25px;
}

.container-user-list {
    height: 100%;
    width: 100%;
    min-width: 700px;
    overflow: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.container-user-list::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.text {
    font-size: var(--white-gey);
    font-size: 16px;
    font-weight: bold;
}

.container-user {
    height: 55px;
    width: 100%;
    padding-inline: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    position: relative;
    border-radius: 2px;

    img {
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 4px;
    }
}

.container-bt {
    position: absolute;
    display: flex;
    align-items: center;
    right: 40px;
    font-size: 13px;
    gap: 15px;

    p {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.container-bt p:nth-child(1) {
    color: white;
}

.container-bt p:nth-child(2) {
    color: #FFDE41;
}

.container-bt p:nth-child(3) {
    color: #FF2222;
}

.container-select {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: right;
    position: relative;
    cursor: pointer;
    gap: 10px;
}

.container-reset {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;

    &:hover {
        background-color: rgb(29, 29, 29);
    }

    img {
        height: 70%;
        width: 70%;
    }
}

.select {
    color: white;
    background-color: black;
    border: 1px solid white;
    width: auto;
    font-size: 13px;
    height: 30px;
    padding-left: 5px;
    right: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
    gap: 30px;
    position: relative;
}

.border-radius-global {
    border-radius: 3px;
}

.border-radius-bottom {
    border-radius: 3px 3px 0px 0px;
}

.arrow {
    height: 10px;
    width: 10px;
    transform: rotate(-90deg);
    padding-bottom: 10px;
}

.container-role {
    padding-inline: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 27px;
    gap: 5px;
    border-radius: 3px;

    p {
        cursor: pointer;
        margin: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.container-options {
    width: 100%;
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
    animation: enter 0.3s;
    border-radius: 0px 0px 3px 3px;
    border: 1px solid white;
    z-index: 20;
    overflow: hidden;
    left: 0px;
}

.container-option {
    background-color: black;
    transition: 0.3s background-color;
    height: 30px;
    padding-left: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &:hover {
        background-color: rgb(29, 29, 29);
    }
}

.container-detail-user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}