<div class="container-page">
    <app-menu-tmp></app-menu-tmp>
    <div class="container-list">
        <div class="container-title" [style.margin-left.vw]="marginLeft" [style.width]="width">
            <div class="align-title-total">
                <p class="title"> {{ 'MENU.MAIN.CATALOG' | translate }} </p>
                @if (total != undefined) {
                    @if (total > 1) {
                        <p class="total"> {{ total }} {{ 'SEARCH_PAGE.RESULTS' | translate | lowercase }} </p>
                    }@else {
                         <p class="total"> {{ total }} {{ 'SEARCH_PAGE.RESULT' | translate | lowercase }} </p>
                    }
                } @else {
                    <div class="total-loading container-animation-gradient-normal">
                        <p> 1500 results </p>
                    </div>
                }
            </div>
            <div class="container-options">
                <app-other-filters (onFilterCreated)="onFilterCreated($event)"></app-other-filters>
                <app-filter [filter]="decadeFilter" (onClicked)="onSelectedDecadeFilter($event)"></app-filter>
                <app-filter [filter]="categoryFilter" (onClicked)="onSelectedCategoryFilter($event)"></app-filter>
                <app-filter [filter]="mediaTypeFilter" (onClicked)="onSelectedMediaTypeFilter($event)"></app-filter>
                <app-sort [sorts]="sortFilter" (onClicked)="onSelectedSortFilter($event)"></app-sort>
                @if(orderDirection) {
                <img class="order-direction" [src]="srcAsc" (click)="toggleOrderDirection()" [title]="'TUTO.ASCENDING_SORT' | translate">
                } @else {
                <img class="order-direction" [src]="srcDesc" (click)="toggleOrderDirection()" [title]="'TUTO.DESCENDING_SORT' | translate">
                }
            </div>
            <div class="barre-separation"> </div>
        </div>
        <div class="container-filters" [style.margin-left.vw]="marginLeft">
        @for (FILTER of FILTERS; track FILTER.id; let index = $index) {
            @if (index > 1) {
            <span class="filter-logic" (click)="toggleFilterLogic(FILTER, index)">
                {{ (FILTER.logic ?? 'AND') | operator | translate }}
            </span>
            }
            <div class="container-filter">
            <p>
                <span> {{ FILTER.typeData | translate }} </span>
                <span> {{ FILTER.operation | translate }} </span>
                @for (v of FILTER.value; track v.value; let isFirst = $first) {
                @if (!isFirst) {
                    <span class="value-logic" (click)="toggleValueLogic(FILTER)">
                     {{ (FILTER.valueLogic ?? 'OR') | operator | translate | uppercase }} 
                    </span>
                }
                <span> {{ v.name | translate }} </span>
                }
            </p>
            @if (FILTER.typeData !== TypeData.MEDIA) {
                <img [src]="srcYellowCross" (click)="deleteFilter(FILTER)">
            }
            </div>
        }
        </div>
        <div style="margin-bottom: -70px;"></div>
        <app-grid-list [mediaList]="medias" [title]="title" [format]="format" [isLoadingCatalog]="isLoading"></app-grid-list>
    </div>
</div>