<div class="container-page">
    <app-menu-tmp></app-menu-tmp>
    <div class="container-list">
        <div class="container-title" [style.margin-left.vw]="marginLeft" [style.width]="width">
            <p> {{ 'MENU.MAIN.CATALOG' | translate }} </p>
            <div class="container-options">
                <app-other-filters (onFilterCreated)="onFilterCreated($event)"></app-other-filters>
                <app-filter [filter]="decadeFilter" (onClicked)="onSelectedDecadeFilter($event)"></app-filter>
                <app-filter [filter]="categoryFilter" (onClicked)="onSelectedCategoryFilter($event)"></app-filter>
                <app-filter [filter]="mediaTypeFilter" (onClicked)="onSelectedMediaTypeFilter($event)"></app-filter>
                <app-sort [sorts]="sortFilter" (onClicked)="onSelectedSortFilter($event)"></app-sort>
                @if(orderDirection) {
                <img class="order-direction" [src]="srcAsc" (click)="toggleOrderDirection()">
                } @else {
                <img class="order-direction" [src]="srcDesc" (click)="toggleOrderDirection()">
                }
            </div>
            <div class="barre-separation"> </div>
        </div>
        <div class="container-filters" [style.margin-left.vw]="marginLeft">
            @for (FILTER of FILTERS; track FILTER.id) {
                <div class="container-filter">
                    <p> 
                        <span> {{ FILTER.typeData | translate }} </span> <span> {{ FILTER.operation | translate }} </span> <span> {{ FILTER.value | join:'OR'}} </span> </p>
                    @if (FILTER.typeData !== TypeData.MEDIA) {
                        <img [src]="srcYellowCross" (click)="deleteFilter(FILTER)">
                    }
                </div>
            }
        </div>
        <div style="margin-bottom: -70px;"></div>
        <app-grid-list [mediaList]="medias" [title]="title" [format]="format" [isLoadingCatalog]="isLoading"></app-grid-list>
    </div>
</div>