.categoryAdded {
    height: 40px;
    font-size: 18px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    padding-inline: 20px;
    border-radius: 5px;
    gap: 5px;
}


.containerButtonCroix {
    height: 18px;
    width: 18px;
    position: relative;
    cursor: pointer;
}

.croixGauche {
    height: 110%;
    width: 2px;
    background-color: black;
    transform: rotate(-45deg);
    top: -1px;
    left: 5px;
    position: absolute;
}

.croixDroite {
    position: absolute;
    height: 110%;
    width: 2px;
    background-color: black;
    transform: rotate(45deg);
    left: 5px;
    top: -1px;

}