.container-list {
    max-width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 40px;
    font-weight: bold;
}

.container-poster {
    display: flex;
    flex-wrap: wrap;
}

.container-not-content-found {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
    width: 100%;
}

p {
    margin: 0;
}

/* Quand écran < 1100px */
@media (max-width: 1400px) {
    .container-list {
        font-size: 40px;
        gap: 30px;
    }
}

/* Quand écran < 1100px */
@media (max-width: 1100px) {
    .container-list {
        font-size: 40px;
        gap: 25px;
    }
}

/* Quand écran < 700px */
@media (max-width: 700px) {
    .container-list {
        font-size: 30px;
        gap: 20px;
    }
}