<div class="container-filter" (click)="openFilter()" [ngClass]="{'is-Open': isOpen}">
    <div class="filter-selected">
        <p> {{ filter.name | translate}} </p>
        <img [src]="srcArrow">
    </div>
    @if(isOpen) {
    <div class="barre"></div>
    <div class="hollow"></div>
    <div class="container-filters">
        @for (f of filter.filters; track f.id) {
        @if (f.value && f.isSelected !== 2) {
        <div class="filter" (click)="onClickFilter($event, f.id)" [ngClass]="{'selected' : f.isSelected === 1}">
            <p> {{ f.name | translate }} </p>
        </div>
        }
        }
    </div>
    }
</div>