.containerPagination {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.paginations {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: right;
    gap: 3px;
}

.numPagination {
    height: 3px;
    width: 25px;
    transition: 0.3s background-color;
}

.backgroundWhite {
    background-color: rgb(234, 234, 234);
}

.backgroundGrey {
    background-color: #252525;
}