.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    color: #585858;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.container-news-overview {
    width: 96%;
    border: solid 2px #343434;
    border-radius: 5px;
    padding: 1.3vw;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    transition: 0.5s height;
    max-height: 40vw;
    min-height: 40px;
    box-sizing: border-box;
}

.container-news-overview::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.news-overview {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.65);
    transform-origin: top center;
}

.news {
    height: auto;
    width: auto;
    position: relative;
    cursor: pointer;

    &:hover {
        .container-cover {
            background-color: rgba(0, 0, 0, 0.4);
        }

        .container-vertical-button {
            display: flex;
        }

        .container-horizontal-button {
            display: flex;
        }

        .container-other-background {
            display: flex;
        }
    }
}

.container-vertical-button {
    display: none;
    flex-direction: column;
    animation: 0.3s enter;
    right: 25px;
    top: 25px;
    position: absolute;
    z-index: 25;
    gap: 10px;
}

.container-horizontal-button {
    display: none;
    flex-direction: row;
    animation: 0.3s enter;
    left: 25px;
    top: 25px;
    position: absolute;
    z-index: 25;
    gap: 10px;
}

.container-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    border-radius: 2px;
    z-index: 20;
    transition: 0.4s background-color;
}

.space {
    height: 1.3vw;
    width: 100%;
    background-color: rebeccapurple;
    visibility: hidden;
}

.container-other-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    gap: 10px;
    padding-block: 80px;
    padding-inline: 20px;
    z-index: 22;
    animation: 0.3s enter;
}

.other-back {
    width: 20vw;
    aspect-ratio: 1920 / 1080;
    border-radius: 0.5vw;
    overflow: hidden;

    &:hover {
        border: solid 4px rgb(216, 216, 216);
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.not-choosen {
    border: solid 4px rgba(61, 61, 61, 0.5);
}

.already-choosen {
    border: solid 4px rgb(216, 216, 216);
}

.container-other-background::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width : 800px) {
    .news-overview {
        transform: scale(0.8);
    }
}

@media (max-width : 700px) {
    .news-overview {
        transform: scale(1);
    }
}