.containerPosterHover {
    border-radius: 5px;
    border: rgba(255, 255, 255, 0) solid 2px;
    cursor: pointer;
    transition: transform 0.3s ease-out, border-color 0.3s, padding 0.3s, box-shadow 0.3s;
    box-shadow: 10px 10px 15px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-origin: center center;
}

.containerPoster {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.containerLicensePosterPressed {
    border-color: white;
    padding: 3.5px;
    box-shadow: 10px 10px 15px black;
    border-radius: 8px;
}

img {
    height: 100%;
    object-fit: cover;
}

.titlePoster {
    width: 90%;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.216);
    color: white;
    border-radius: 5px;
    padding-block: 1.3vw;
    margin: 0;
}


@media (max-width: 1400px) {
    .containerPosterHover {
        border-radius: 4px;
    }

    .containerLicensePosterPressed {
        border-radius: 7px;
    }

    .titlePoster {
        font-size: 2.5vw;
    }
}

/* Quand écran < 1100px */
@media (max-width: 1100px) {
    .containerPosterHover {
        border-radius: 3px;
    }

    .containerLicensePosterPressed {
        border-radius: 6px;
    }

    .titlePoster {
        font-size: 3vw;
    }
}

/* Quand écran < 700px */
@media (max-width: 700px) {
    .containerPosterHover {
        border-radius: 3.2px;
    }

    .containerLicensePosterPressed {
        border-radius: 6px;
    }

    .titlePoster {
        font-size: 3.5vw;
    }
}