.container-movie-page {
    z-index: 9999;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #14141454;
    transition: 0.2s background-color;
    overflow-y: scroll;
    overflow-x: hidden;
}

.backgroundDesable {
    background-color: transparent;
}

.container-movie-informations {
    margin-top: 80px;
    width: 50vw;
    min-width: 900px;
    min-height: 95vh;
    height: auto;
    background-color: #141414;
    border-radius: 5px;
    box-shadow: 15px 15px 15px black, -15px 15px 15px black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    will-change: transform;
}

.container-movie-informations::-webkit-scrollbar {
    height: 2px;
    width: 2px;
    position: absolute;
    right: -50px;
}

.container-illustration-movie {
    width: 100%;
    aspect-ratio: 15.5 / 9;
    background-color: #141414;
    border-radius: 5px;
    position: relative;
}

.container-all-button {
    z-index: 100;
    position: absolute;
    bottom: -14px;
    display: flex;
    justify-content: center;
    margin-left: 60px;
    gap: 45px;
}

.container-groupe-button {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container-groupe-button-other {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

p {
    margin: 0;
}

.container-loader {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containCrossButton {
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 15px;
    padding-right: 13px;
    transition: 0.3s opacity;
    z-index: 30;
}

.crossButtonAppears {
    opacity: 1;
}

.crossButtonDisappears {
    opacity: 0;
}