<app-popup (emitActionData)="emitAddCredit()"></app-popup>

<div class="containerSettingSelected">
    <div class="container-profil">

        <div class="containerFieldToFill">
            <p>{{ 'EDITION.CREDIT.POSTER_CREDIT' | translate}} <span class="yellow">**</span></p>
            <app-input-image-edition [exText]="exTextPoster" [srcImageAdded]="editCredit.srcPoster"
                (inputChange)="onInputSrcPoster($event)"></app-input-image-edition>
        </div>

        <div class="containerSettingSelected" style="position: relative;">
            <div class="containerFieldToFill">
                <p>{{ 'EDITION.TMDB_ID' | translate}} <span class="yellow">*</span></p>
                <div class="container-flex">
                    <app-input-number-edition [number]="editCredit.tmdbId" (onInputChange)="onInputTmdbId($event)"
                        [placeHolder]="placeholderTextTmdbId"
                        (keydown.enter)="onClickButtonTmdbById()"></app-input-number-edition>
                    <app-ai-button #buttonSearchTmdbId (clickEmit)="onClickButtonTmdbById()"
                        #buttonSearchTmdb></app-ai-button>
                </div>
            </div>

            <div class="containerFieldToFill">
                <p>{{ 'EDITION.CREDIT.FULL_NAME' | translate}} <span class="yellow">*</span></p>
                <div class="container-flex">
                    <app-input-text-edition [text]="editCredit.fullName" (onInputChange)="onInputFullName($event)"
                        [placeHolder]="placeholderTextFullName"
                        (keydown.enter)="onClickButtonTmdbByFullName()"></app-input-text-edition>
                    <app-ai-button #buttonSearchFullName (clickEmit)="onClickButtonTmdbByFullName()"
                        #buttonSearchTmdb></app-ai-button>
                </div>
            </div>
            <div class="containerFieldToFill">
                <p>{{ 'EDITION.CREDIT.ORIGINAL_FULL_NAME' | translate}} <span class="yellow">**</span></p>
                <app-input-text-edition [text]="editCredit.originalFullName" (onInputChange)="onInputOriginalFullName($event)"
                    [placeHolder]="placeholderTextOriginalFullName"></app-input-text-edition>
            </div>
        </div>

    </div>

    <div class="containerFieldToFill">
        <div class="containerLastButton">
            <app-button-remove (clickEmit)="onClickReset()"></app-button-remove>
            <app-button-save (clickEmit)="onClickAddCredit()"></app-button-save>
        </div>
    </div>
</div>