.spinner {
  border: 7.5px solid #3E3E3E;
  border-top-color: #FFD301;
  animation: spin 0.9s ease-in-out infinite;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: 25;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.little-spinner {
  border: 6px solid #3E3E3E;
  border-top-color: #FFD301;
  animation: spin 0.9s ease-in-out infinite;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 25;
}

.very-little-spinner {
  border: 4px solid #4f4f4f;
  border-top-color: #FFD301;
  animation: spin 0.9s ease-in-out infinite;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 25;
}