<div class="container-horizontal-poster">
    <div class="container-main-poster" [ngClass]="'container-animation-gradient-little'">

        <div class="container-logo" [ngClass]="'container-animation-gradient-normal'"> </div>

    </div>
    <div class="container-info-movie">
        <div class="container-first-line">
            <div class="container-left">
                <div class="date" [ngClass]="'container-animation-gradient-little'"></div>
                <div class="duration" [ngClass]="'container-animation-gradient-little'"></div>
                <div class="quality" [ngClass]="'container-animation-gradient-little'"></div>
            </div>
        </div>
        <div class="container-description" [ngClass]="'container-animation-gradient-little'"></div>
    </div>
</div>