.containerInputCategories {
    display: flex;
    column-gap: 45px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.containerSelectCategory {
    height: 40px;
    display: flex;
    gap: 20px;
}

.container-input {
    height: auto;
    width: auto;
    position: relative;
}

.container-arrow {
    height: 90%;
    width: 30px;
    right: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #141414;
    cursor: pointer;

    img {
        height: 30%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}

.container-categories-searched {
    z-index: 99;
    max-height: 200px;
    height: auto;
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #353535;
    border-radius: 0px 0px 5px 5px;
    top: 45px;
}

.container-categories-searched::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

.container-category-searched {
    width: 100%;
    background-color: #353535;
    padding-left: 20px;
    cursor: pointer;
    font-size: 16px;
    min-height: 40px;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #585858;
    }

    p {
        margin: 0;
    }
}