.containerPosterHover {
    padding: 0;
    margin: 0;
    border-radius: 5px;
    transition: transform 0.3s ease-out, border 0.1s, border-color 0.4s, padding 0.1s;
    cursor: pointer;
    border: #40424a8a solid 1px;
    position: relative;
    box-shadow: 10px 10px 15px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
}

.containerPoster {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;

    img {
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        transition: transform 0.3s, border 0.1s, border-color 0.4s;
        margin: 0;
    }
}

.titleMovie {
    width: 90%;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.216);
    color: white;
    border-radius: 5px;
    padding-block: 1.3vw;
    margin: 0;
    overflow: hidden;
}

.containerSpecialPosterPressed {
    border: white solid 2px;
    border-radius: 8px;
    padding: 2px;
}

@media (max-width: 1400px) {
    .containerPoster {
        border-radius: 4px;
    }

    .containerPosterHover {
        border-radius: 4px;
    }

    .containerSpecialPosterPressed {
        padding: 2.5px;
        border-radius: 7px;
    }

    .titleMovie {
        font-size: 2.5vw;
    }
}

/* Quand écran < 1100px */
@media (max-width: 1100px) {
    .containerPoster {
        border-radius: 3px;
    }

    .containerPosterHover {
        border-radius: 3px;
    }

    .containerSpecialPosterPressed {
        padding: 3px;
        border-radius: 6px;
    }

    .titleMovie {
        font-size: 3vw;
    }
}

/* Quand écran < 700px */
@media (max-width: 700px) {
    .containerPoster {
        border-radius: 2px;
    }

    .containerPosterHover {
        border-radius: 2px;
    }

    .containerSpecialPosterPressed {
        padding: 2.5px;
        border-radius: 6px;
    }

    .titleMovie {
        font-size: 3.5vw;
    }
}