<div [style.height.vw]="dimension.height" [style.transform]="transformStyle" [style.width.vw]="dimension.width" #poster
    class="containerPosterHover" (click)="selectedMovieActivate(media)"
    [ngClass]="{ 'containerSpecialPosterPressed': isHover }" [style.z-index]="zIndex" (mouseleave)="onMouseLeave()"
    (mouseenter)="onMouseEnter()" (transitionend)="onTransitionEnd($event)">
    <div class="containerPoster">
        @if(srcPoster != undefined) {
        <img [src]="srcPoster" loading="lazy" decoding="async" (error)="onErrorImage()" (load)="onImageLoad()"
            [style.opacity]="imageLoaded ? '1' : '0'">
        }
        @if(srcPoster == undefined || !imageLoaded) {
        <p class="titleMovie"> {{media.title}}</p>
        }
    </div>
</div>