.radio-group {
    display: flex;
    row-gap: 8px;
    column-gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-group label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.3s;
}

.radio-group input[type="radio"]:checked+label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #FFE500;
    border-radius: 50%;
    animation: fade-in 0.3s ease forwards;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-50%) scale(0.5);
    }

    to {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}