<app-popup (emitActionData)="emitActionData()"></app-popup>

<div class="containerSettingSelected">
    <div class="containerFieldToFill">
        <p> {{ 'EDITION.CATEGORY.SEARCH_CATEGORY' | translate }} <span>*</span></p>
        <app-input-research-category
            (addContentResearched)="setEditCategorieByResearched($event)"></app-input-research-category>
    </div>

    @if(editCategory.id >= 0) {
    <div class="containerFieldToFill">
        <p> {{ 'IDENTIFYING' | translate }} </p>
        <app-input-number-edition [number]="editCategory.id" [disbaled]="true"></app-input-number-edition>
    </div>

    <div class="containerFieldToFill">
        <p>{{ 'EDITION.CATEGORY.TRANSLATION_KEY' | translate }} <span>*</span></p>
        <app-input-text-edition [text]="editCategory.translationKey" [placeHolder]="exCategory"
            (onInputChange)="onChangeTranslationKeyCategory($event)"></app-input-text-edition>
    </div>

    <div class="containerFieldToFill">
        <p> {{ 'EDITION.TMDB_ID' | translate }} <span>*</span></p>
        <app-input-number-edition [placeHolder]="placeholderTextTmdbId" (onInputChange)="onChangeTmdbId($event)" [number]="editCategory.tmdbId" (onInputChange)="onChangeTmdbId($event)"></app-input-number-edition>
    </div>

    <div class="containerFieldToFill">
        <p>{{ 'EDITION.CATEGORY.SELECTION_NAME' | translate }} <span>*</span></p>
        <app-input-text-edition [text]="editCategory.nameSelection" [placeHolder]="exNameSelectionCategory"
            (onInputChange)="onChangeNameSelectionCategory($event)"></app-input-text-edition>
    </div>

    <div class="containerFieldToFill">
        <p>{{ 'EDITION.CATEGORY.ADD_MOVIE_INTO_CATGEORY' | translate }} <span>*</span> </p>
        <app-input-research-movie (addContentResearched)="addMovieIntoCaregorie($event)"></app-input-research-movie>
    </div>
    <div class="containerFieldToFill">
        <app-selection-overview [mediaSelectionList]="editSelectionMovie" (moveMediaLeftEmit)="moveMovieLeft($event)"
            (moveMediaRightEmit)="moveMovieRight($event)"
            (removeMediaEmit)="removeMovie($event)"></app-selection-overview>
    </div>

    <div class="containerFieldToFill">
        <p>{{ 'EDITION.CATEGORY.ADD_SERIES_INTO_CATGEORY' | translate }} <span>*</span> </p>
        <app-input-research-series (addContentResearched)="addSeriesIntoCaregorie($event)"></app-input-research-series>
    </div>
    <div class="containerFieldToFill">
        <app-selection-overview [mediaSelectionList]="editSelectionSeries" (moveMediaLeftEmit)="moveSeriesLeft($event)"
            (moveMediaRightEmit)="moveSeriesRight($event)"
            (removeMediaEmit)="removeSeries($event)"></app-selection-overview>
    </div>
    
    <div class="containerFieldToFill">
        <div class="containerLastButton">
            <app-button-remove [type]="true" (clickEmit)="onClickDeleteCategory()"></app-button-remove>
            <app-button-save (clickEmit)="onClickModifyCaregory()"></app-button-save>
        </div>
    </div>
    }@else if (displayLoader) {
        <div class="container-laoder-content">
            <div class="little-spinner"></div>
        </div>
    }
</div>