.container {
  height: 100%;
  width: 100%;
}

.container-bt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 15px;
}

.bt {
  padding-inline: 15px;
  padding-block: 10px;
  background-color: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  color: black;
  font-weight: bold;
  transition: 0.3s background-color;

  &:hover {
    background-color: var(--grey);
  }
}

p {
  margin: 0;
  text-align: center;
}