.container-home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.container-news {
    margin-top: 1vw;
}

.space_1 {
    height: 2.8vw;
}

@media (max-width: 1400px) {

    .space_1 {
        height: 4vw;
    }

}

@media (max-width: 1100px) {

    .space_1 {
        height: 5vw;
    }

}

@media (max-width: 700px) {

    .space_1 {
        height: 8vw;
    }

}