<div class="container-other-mode"
    [ngClass]="{'enable-height' : displayOtherMode, 'disable-height' : !displayOtherMode}">
    @for (mode of modesGraph; track mode.id) {
    <div class="container-mode" (click)="loadNewGraph(mode.id)" [ngClass]="{'cliqued' : mode.state}">
        <p> {{ mode.name | translate }} </p>
        <div class="container-reset" (click)="onClickResetGraph(mode.name, $event)" [title]="'TUTO.REFRESH' | translate">
            <img [src]="srcReset">
        </div>
    </div>
    }
</div>