<app-popup (emitActionData)="emitAddCategory()"></app-popup>

<div class="containerSettingSelected">
    <div class="containerFieldToFill">
        <p>Nom de la catégorie <span>*</span></p>
        <app-input-text-edition [text]="editCategory.name" [placeHolder]="exCategory"
            (onInputChange)="onChangeNameCategory($event)"></app-input-text-edition>
    </div>

    <div class="containerFieldToFill">
        <p>Nom de la selection <span>*</span></p>
        <app-input-text-edition [text]="editCategory.nameSelection" [placeHolder]="exNameSelectionCategory"
            (onInputChange)="onChangeNameSelectionCategory($event)"></app-input-text-edition>
    </div>

    <div class="containerFieldToFill">
        <p> Ajouter un film dans la catégorie <span>*</span> </p>
        <app-input-research-movie (addContentResearched)="addMovieIntoCaregorie($event)"></app-input-research-movie>
    </div>
    <div class="containerFieldToFill">
        <app-selection-overview [mediaSelectionList]="editSelectionMovie" (moveMediaLeftEmit)="moveMovieLeft($event)"
            (moveMediaRightEmit)="moveMovieRight($event)"
            (removeMediaEmit)="removeMovie($event)"></app-selection-overview>
    </div>

    <div class="containerFieldToFill">
        <p> Ajouter une série dans la catégorie <span>*</span> </p>
        <app-input-research-series (addContentResearched)="addSeriesIntoCaregorie($event)"></app-input-research-series>
    </div>
    <div class="containerFieldToFill">
        <app-selection-overview [mediaSelectionList]="editSelectionSeries" (moveMediaLeftEmit)="moveSeriesLeft($event)"
            (moveMediaRightEmit)="moveSeriesRight($event)"
            (removeMediaEmit)="removeSeries($event)"></app-selection-overview>
    </div>

    <div class="containerFieldToFill">
        <div class="containerLastButton">
            <app-button-remove (clickEmit)="onClickReset()"></app-button-remove>
            <app-button-save (clickEmit)="onClickAddCategory()"></app-button-save>
        </div>
    </div>
</div>