<app-popup (emitActionData)="emitActionData()"></app-popup>

<div class="containerSettingSelected">
    <div class="containerFieldToFill">
        <div class="container-title-reset">
            <p> {{ 'EDITION.ADVANCED_SETTINGS.MANAGER_VERSION' | translate }} </p>
            <div class="container-reset" (click)="onClickReset()" [title]="'TUTO.REFRESH' | translate">
                <img [src]="srcReset">
            </div>
        </div>
        @if(versions) {
            <app-edit-version [versions]="versions"></app-edit-version>
        }@else {
        <div class="container-laoder-content">
            <div class="little-spinner"></div>
        </div>
        }
    </div>
</div>