.container {
    position: relative;
}

.container-overview {
    position: absolute;
    width: 150px;
    height: 125px;
    bottom: 0;
    right: 0;
    visibility: hidden;
    z-index: 20;
}

.container-qualities {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    top: 0;
    right: 0;
    display: grid;
    grid-template: 40px / 100%;
    flex-direction: column;
    border-radius: 5px;
}

.container-quality {
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #141414;
    transition: background-color 0.3s;

    &:hover {
        background-color: #232323;
    }
}

.quality {
    font-size: 18px;
    padding-left: 15px;
    box-sizing: border-box;
}

.hidden-seasons-choice {
    visibility: hidden;
}

.display-seasons-choice {
    visibility: visible;
}

.app-bt-classic {
    position: relative;
    z-index: 25;
}

p {
    margin: 0;
    font-weight: bold;
}